openapi: 3.0.3
info:
  contact:
    email: support@digiseg.io
  description: |
    ### Digiseg API documentation

    # Introduction

    This API let you harness the power of Digisegs powerful and tracking-free segmentation
    engine.

    Audiences by Digiseg are available in 50+ countries, probablistically mapping
    neighborhood characteristics to the IP addresses observed on the internet -
    Household targeting & measurement for the post-cookie world.

    ## Developer SDKs

    In addition to using these APIs directly through any HTTP client, we provide a set
    of API client SDKs for popular programming languages:

    <div class="api-clients">
      <a class="api-client-box" href="https://github.com/digiseg-labs/api-client-python">
        <i class="api-client-sdk-logo devicon-python-plain"></i>
        <p>API client for Python</p>
      </a>
      <a class="api-client-box" href="https://github.com/digiseg-labs/api-client-ts">
        <i class="api-client-sdk-logo devicon-typescript-plain"></i>
        <p>API client for TypeScript</p>
      </a>
      <a class="api-client-box" href="https://github.com/digiseg-labs/api-client-go">
        <i class="api-client-sdk-logo devicon-go-original-wordmark"></i>
        <p>API client for Go</p>
      </a>
    </div>
    <div class="api-clients-breaker" />

    ## Audience taxonomy

    Digiseg audiences are grouped into private and business audiences. In each group
    there are categories that then contain the audiences. The API endpoints that
    communicate audiences and household characteristics, audience codes are being used.

    The following table can be used as a reference for audience codes. Note that Digiseg
    will at times update names of audiences for purposes of internationalization, clarity
    or other such purposes - but the codes will remain as-is and should be considered a
    stable point of reference for the audience.

    | Group | Category | Audience Code | Audience Name |
    |-------|----------|---------------|---------------|
    | private | home_type | a1 | Apartment |
    |  |  | a2 | House |
    |  | savings | b1 | No Savings |
    |  |  | b2 | Smaller Savings |
    |  |  | b3 | Larger Savings |
    |  | lifecycle | c1 | Young couples and singles |
    |  |  | c2 | Early family life |
    |  |  | c3 | Middle-aged families |
    |  |  | c4 | Mature families |
    |  |  | c5 | Pensioners / Retirees |
    |  | cars | d1 | No cars |
    |  |  | d2 | 1 car |
    |  |  | d3 | 2 or more cars |
    |  | children | e1 | No children |
    |  |  | e2 | 1 child |
    |  |  | e3 | 2 or more children |
    |  | education | f1 | Basic |
    |  |  | f2 | Medium |
    |  |  | f3 | Higher |
    |  | neighbourhood_type | g1 | Countryside |
    |  |  | g2 | Village |
    |  |  | g3 | Suburban |
    |  |  | g4 | City |
    |  | income | h1 | Lowest 20% |
    |  |  | h2 | Lowest 20-40% |
    |  |  | h3 | Middle 40-60% |
    |  |  | h4 | Highest 60-80% |
    |  |  | h5 | Top 20% |
    |  | home_ownership | j1 | Rent |
    |  |  | j2 | Own |
    |  | building_age | k1 | Pre 1945 |
    |  |  | k2 | 1945-1989 |
    |  |  | k3 | 1990 until today |
    |  | living_space | l1 | Small |
    |  |  | l2 | Medium |
    |  |  | l3 | Large |
    |  | tech_level | n1 | Basic |
    |  |  | n2 | Medium |
    |  |  | n3 | High |
    | business | size | ba1 | Small Business |
    |  |  | ba2 | Medium Business |
    |  |  | ba3 | Larger Business |

    There is also an interactive
    [Audience builder](https://digiseg.io/cookieless-audience-builder/)
    which lets you discover the targeting reach and power of combining
    various household characteristics into composite audiences.
  title: Digiseg API
  version: 1.0.0
  x-logo:
    url: ./Digiseg-Logo.svg
    altText: Digiseg
servers:
- description: Digiseg API - production
  url: https://api.digiseg.net
security:
- bearerAuth: []
- apiKeyHeaderAuth: []
- apiKeyQueryParamAuth: []
- oAuth: []
tags:
- description: |
    Authentication with Digiseg APIs can be done in various ways. If you have received an
    API key from Digiseg, the simplest way to authenticate is simply to place it in
    the `X-API-KEY` header of your API requests, like this:

    ```bash
    curl -H "X-API-KEY: $APIKEY" https://api.digiseg.net/user
    ```

    If you do not have an API key, you need an _access token_. These are temporary
    tokens that are placed as a bearer token in the `Authorization` header. You obtain
    an access token through the `/auth/token` /
    [Create Access token](#tag/auth/operation/createAccessToken)
    endpoint, described in this section.
  name: auth
  x-displayName: Authentication
- description: |
    Services for managing users within your account. Access to user data
    depends on your user role, and may therefore be restricted.
  name: users
  x-displayName: User management
- description: |
    Services for managing your account. Access to account and user data
    depends on your user role, and may therefore be restricted.
  name: accounts
  x-displayName: Accounts management
- description: |
    Audiences are segments of households that you can target and measure. Use
    the Audience API to identify specific segments that you wish to initiate
    certain behaviour or actions from.
  name: audiences
  x-displayName: Audiences
- description: |
    Measurement studies are instrumented in online ad campaigns or websites in
    order to evaluate the performance, reach and targeting power of various audiences.
    Use the studies API to create studies, instrument them in your campaign creatives
    or on a webpage, and access statistics about the impressions, actions and other
    events.
  name: studies
  x-displayName: Studies
- description: |
    Measurement labels can be used for categorization and filtering across all
    measurement activities. At the core, the labels are simple text strings that
    can be tagged upon e.g. a study. By labeling measurement activities, it
    grants accounts the ability to compare activities with other activities that
    are categorized in similar ways.
  name: measurement_labels
  x-displayName: Labels
- description: |
    In your Digiseg account you can register measurement clients.
    A measurement clients could be a customer, a brand or any other type
    of client. This is typically useful when running measurement studies or
    other measurement activity in service of someone else.
  name: measurement_clients
  x-displayName: Clients / customers
- description: |
    Populations represent benchmark numbers that can be used to compare your
    audience profile with. Digiseg produces a large set of populations called the
    Average Internet Population, made available in the population category `aip`.
  name: populations
  x-displayName: Populations
- name: usage
  x-displayName: Usage statistics
paths:
  /accounts/{account_id}:
    get:
      operationId: getAccountById
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccountById_200_response'
          description: OK
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Get account
      tags:
      - accounts
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/accounts/$ACCOUNT_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/accounts/\"+account_id, {\n  \"method\"\
          : \"GET\", \n  \"headers\": {\"Authorization\": \"Bearer \" + token},\n\
          }).then(response => {\n  console.log(response);\n})"
    put:
      operationId: updateAccountById
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AccountUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccountById_200_response'
          description: OK
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Update account
      tags:
      - accounts
  /accounts/{account_id}/assets/logo:
    delete:
      description: |
        Deletes the logo for an account
      operationId: deleteAccountLogo
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Object deleted
      summary: Delete account logo
      tags:
      - accounts
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X DELETE \
          https://api.digiseg.net/accounts/$ACCOUNT_ID/assets/logo
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/accounts/\"+account_id+\"/assets/logo\"\
          , {\n  \"method\": \"DELETE\", \n  \"headers\": {\"Authorization\": \"Bearer\
          \ \" + token},\n}).then(response => {\n  console.log(response);\n})"
    get:
      description: |
        Gets the account logo, if the image is hosted on the Digiseg platform.
        Refer to the account's `logo_url` to get a non-authenticated and shareable URL for the logo.
      operationId: getAccountLogo
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "404":
          description: Not found
      summary: Get account logo
      tags:
      - accounts
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/accounts/$ACCOUNT_ID/assets/logo
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/accounts/\"+account_id+\"/assets/logo\"\
          , {\n  \"method\": \"GET\", \n  \"headers\": {\"Authorization\": \"Bearer\
          \ \" + token},\n}).then(response => {\n  console.log(response);\n})"
    put:
      description: |
        Upload a logo for an account
      operationId: uploadAccountLogo
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ImageUploadRequest'
      responses:
        "204":
          description: OK
      summary: Upload account logo
      tags:
      - accounts
  /accounts/{account_id}/subscriptions:
    get:
      description: Get a summary of subscriptions for an account
      operationId: getAccountSubscriptions
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccountSubscriptions_200_response'
          description: OK
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Get account subscriptions summary
      tags:
      - accounts
      - subscriptions
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/accounts/$ACCOUNT_ID/subscriptions
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/accounts/\"+account_id+\"/subscriptions\"\
          , {\n  \"method\": \"GET\", \n  \"headers\": {\"Authorization\": \"Bearer\
          \ \" + token},\n}).then(response => {\n  console.log(response);\n})"
  /accounts/{account_id}/subscriptions/{subscription_id}:
    get:
      description: Gets a specific subscription for an account
      operationId: getAccountSubscriptionById
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccountSubscriptionById_200_response'
          description: OK
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Get account subscription
      tags:
      - accounts
      - subscriptions
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/accounts/$ACCOUNT_ID/subscriptions/$SUBSCRIPTION_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/accounts/\"+account_id+\"/subscriptions/\"\
          +subscription_id, {\n  \"method\": \"GET\", \n  \"headers\": {\"Authorization\"\
          : \"Bearer \" + token},\n}).then(response => {\n  console.log(response);\n\
          })"
  /accounts/{account_id}/users:
    get:
      operationId: listUsersByAccountId
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Filter based on platform roles, e.g. super_admin"
        explode: true
        in: query
        name: "filter[platform_roles]"
        required: false
        schema:
          $ref: '#/components/schemas/UserPlatformRole'
        style: form
      - description: Optional parameter used to search for users where the name contains
          a substring (case insensitive)
        example: Doe
        explode: true
        in: query
        name: "filter[name][contains]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          Defines the field to sort the result items by.
          Ascending order is applied by default, but the minus character
          can be used to indicate descending order instead.
        example: -created_at
        explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/UserSortOption'
        style: form
      - description: The desired page size
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: |
          Optional pagination parameter, indicating the previous cursor value to paginate beyond.
          The value to provide here is opaque, but can be found in previous requests in the `meta.page.last_cursor` field.
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listUsersByAccountId_200_response'
          description: OK
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: List users for account
      tags:
      - accounts
      - users
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/accounts/$ACCOUNT_ID/users
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/accounts/\"+account_id+\"/users\"\
          , {\n  \"method\": \"GET\", \n  \"headers\": {\"Authorization\": \"Bearer\
          \ \" + token},\n}).then(response => {\n  console.log(response);\n})"
    post:
      description: |
        Create a user within the referenced account.
      operationId: createUserInAccount
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UserCreationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createUserInAccount_201_response'
          description: OK
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Create user
      tags:
      - accounts
      - users
  /accounts/{account_id}/apikeys:
    get:
      operationId: listApiKeysByAccountId
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listApiKeysByAccountId_200_response'
          description: OK
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: List API keys for account
      tags:
      - accounts
      - auth
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/accounts/$ACCOUNT_ID/apikeys
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/accounts/\"+account_id+\"/apikeys\"\
          , {\n  \"method\": \"GET\", \n  \"headers\": {\"Authorization\": \"Bearer\
          \ \" + token},\n}).then(response => {\n  console.log(response);\n})"
  /subscription_plans:
    get:
      operationId: listSubscriptionPlans
      parameters:
      - description: The desired page size
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: |
          Optional pagination parameter, indicating the previous cursor value to paginate beyond.
          The value to provide here is opaque, but can be found in previous requests in the `meta.page.last_cursor` field.
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          type: string
        style: form
      - description: Optional parameter used to filter on the `is_public` field
        explode: true
        in: query
        name: "filter[is_public]"
        required: false
        schema:
          type: boolean
        style: form
      - description: Optional parameter used to filter on the `product_type` field
        explode: true
        in: query
        name: "filter[product_type]"
        required: false
        schema:
          $ref: '#/components/schemas/SubscriptionProductType'
        style: form
      - description: Optional parameter used to filter on the list price's currency
        explode: true
        in: query
        name: "filter[list_price.currency]"
        required: false
        schema:
          $ref: '#/components/schemas/SubscriptionPriceCurrency'
        style: form
      - description: Optional parameter used to filter on the list price's interval
        explode: true
        in: query
        name: "filter[list_price.interval]"
        required: false
        schema:
          $ref: '#/components/schemas/SubscriptionPriceInterval'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listSubscriptionPlans_200_response'
          description: OK
      summary: List subscription plans
      tags:
      - subscriptions
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/subscription_plans
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/subscription_plans\", {\n  \"method\"\
          : \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response =>\
          \ {\n  console.log(response);\n})"
  /users/{user_id}/apikeys:
    get:
      operationId: listApiKeysByUserId
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listApiKeysByAccountId_200_response'
          description: OK
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: List API keys for user
      tags:
      - users
      - auth
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/users/$USER_ID/apikeys
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/users/\"+user_id+\"/apikeys\", {\n\
          \  \"method\": \"GET\", \n  \"headers\": {\"Authorization\": \"Bearer \"\
          \ + token},\n}).then(response => {\n  console.log(response);\n})"
    post:
      description: |
        Create API key for the given user.
        When an API key is created, the `token` value will be exposed
        in the response. This token can be passed as the `X-API-KEY`
        header value for future requests. It is not obtainable in other
        API requests (ie. the client must decide how to keep the API key
        token in e.g. a vault or similar).
      operationId: createApiKey
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ApiKeyCreationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createApiKey_201_response'
          description: OK
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Create API key
      tags:
      - users
      - auth
  /users/{user_id}/apikeys/{key_id}:
    delete:
      operationId: deleteApiKeyById
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: key_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Object deleted
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Delete API key
      tags:
      - users
      - auth
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X DELETE \
          https://api.digiseg.net/users/$USER_ID/apikeys/$KEY_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/users/\"+user_id+\"/apikeys/\"+key_id,\
          \ {\n  \"method\": \"DELETE\", \n  \"headers\": {\"Authorization\": \"Bearer\
          \ \" + token},\n}).then(response => {\n  console.log(response);\n})"
    get:
      operationId: getApiKeyById
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: key_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getApiKeyById_200_response'
          description: OK
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Get API key
      tags:
      - users
      - auth
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/users/$USER_ID/apikeys/$KEY_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/users/\"+user_id+\"/apikeys/\"+key_id,\
          \ {\n  \"method\": \"GET\", \n  \"headers\": {\"Authorization\": \"Bearer\
          \ \" + token},\n}).then(response => {\n  console.log(response);\n})"
    put:
      operationId: updateApiKeyById
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: key_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ApiKeyUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getApiKeyById_200_response'
          description: OK
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Update API key
      tags:
      - users
      - auth
  /user:
    get:
      description: Get information about the currently authenticated user
      operationId: getCurrentUser
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createUserInAccount_201_response'
          description: OK
        "403":
          description: Forbidden
      summary: Get current user
      tags:
      - users
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/user
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/user\", {\n  \"method\": \"GET\"\
          , \n  \"headers\": {\"Authorization\": \"Bearer \" + token},\n}).then(response\
          \ => {\n  console.log(response);\n})"
  /users/{user_id}:
    delete:
      operationId: deleteUserById
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Object deleted
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Delete user
      tags:
      - users
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X DELETE \
          https://api.digiseg.net/users/$USER_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/users/\"+user_id, {\n  \"method\"\
          : \"DELETE\", \n  \"headers\": {\"Authorization\": \"Bearer \" + token},\n\
          }).then(response => {\n  console.log(response);\n})"
    get:
      operationId: getUserById
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createUserInAccount_201_response'
          description: OK
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Get user
      tags:
      - users
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/users/$USER_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/users/\"+user_id, {\n  \"method\"\
          : \"GET\", \n  \"headers\": {\"Authorization\": \"Bearer \" + token},\n\
          }).then(response => {\n  console.log(response);\n})"
    put:
      operationId: updateUserById
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UserUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createUserInAccount_201_response'
          description: OK
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Update user
      tags:
      - users
  /users/{user_id}/assets/avatar:
    delete:
      description: |
        Deletes the avatar for a user
      operationId: deleteUserAvatar
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Object deleted
      summary: Delete user avatar
      tags:
      - users
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X DELETE \
          https://api.digiseg.net/users/$USER_ID/assets/avatar
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/users/\"+user_id+\"/assets/avatar\"\
          , {\n  \"method\": \"DELETE\", \n  \"headers\": {\"Authorization\": \"Bearer\
          \ \" + token},\n}).then(response => {\n  console.log(response);\n})"
    get:
      description: |
        Gets the user avatar, if the image is hosted on the Digiseg platform.
        Refer to the user's `avatar_url` to get a non-authenticated and shareable URL for the avatar.
      operationId: getUserAvatar
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "404":
          description: Not found
      summary: Get user avatar
      tags:
      - users
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/users/$USER_ID/assets/avatar
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/users/\"+user_id+\"/assets/avatar\"\
          , {\n  \"method\": \"GET\", \n  \"headers\": {\"Authorization\": \"Bearer\
          \ \" + token},\n}).then(response => {\n  console.log(response);\n})"
    put:
      description: |
        Upload a avatar for a user
      operationId: uploadUserAvatar
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ImageUploadRequest'
      responses:
        "204":
          description: OK
      summary: Upload user avatar
      tags:
      - users
  /auth/token:
    post:
      operationId: createAccessToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthTokenRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthTokenRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
          description: OK
      security: []
      summary: Authenticate and create access token
      tags:
      - auth
  /audiences:
    get:
      operationId: resolveAudiencesOfClient
      parameters:
      - description: |
          Optional parameter used to specify which audience information to be returned.
          The value is comprised of comma-separated values, each indicating a set of
          audiences:

            * `core` represents the core audiences that are directly linked to household characteristics
            * `composite` represents the composite audiences, used to model likely behaviours or buying
              needs associated with the household characteristics.
            * `name` and `category` refer to the fields of the same names in the returned Audience
              objects. There is a slight performance gain in leaving these out when they are not needed.
        explode: true
        in: query
        name: include
        required: false
        schema:
          default: "core,name,category"
          type: string
        style: form
      - description: Optional parameter to set to `jsonp` if a JSONP response format
          is needed.
        explode: true
        in: query
        name: type
        required: false
        schema:
          example: jsonp
          pattern: ^(jsonp)?$
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get audiences of the API client
      tags:
      - audiences
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/audiences
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/audiences\", {\n  \"method\": \"\
          GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response => {\n\
          \  console.log(response);\n})"
    post:
      operationId: resolveAudiencesOfMultiple
      parameters:
      - description: |
          Optional parameter used to specify which audience information to be returned.
          The value is comprised of comma-separated values, each indicating a set of
          audiences:

            * `core` represents the core audiences that are directly linked to household characteristics
            * `composite` represents the composite audiences, used to model likely behaviours or buying
              needs associated with the household characteristics.
            * `name` and `category` refer to the fields of the same names in the returned Audience
              objects. There is a slight performance gain in leaving these out when they are not needed.
        explode: true
        in: query
        name: include
        required: false
        schema:
          default: "core,name,category"
          type: string
        style: form
      requestBody:
        $ref: '#/components/requestBodies/ResolveAudiencesOfMultipleRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolveAudiencesOfMultipleResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get audiences for multiple IP addresses
      tags:
      - audiences
  /audiences/{user_ip}:
    get:
      operationId: resolveAudiencesOfSingle
      parameters:
      - description: |
          Optional parameter used to specify which audience information to be returned.
          The value is comprised of comma-separated values, each indicating a set of
          audiences:

            * `core` represents the core audiences that are directly linked to household characteristics
            * `composite` represents the composite audiences, used to model likely behaviours or buying
              needs associated with the household characteristics.
            * `name` and `category` refer to the fields of the same names in the returned Audience
              objects. There is a slight performance gain in leaving these out when they are not needed.
        explode: true
        in: query
        name: include
        required: false
        schema:
          default: "core,name,category"
          type: string
        style: form
      - description: The IP address to look up.
        example: 1.1.1.1
        explode: false
        in: path
        name: user_ip
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get audiences for a given IP address
      tags:
      - audiences
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/audiences/$USER_IP
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/audiences/\"+user_ip, {\n  \"method\"\
          : \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response =>\
          \ {\n  console.log(response);\n})"
  /studies:
    get:
      description: |
        List studies that the user has access to
      operationId: listStudies
      parameters:
      - description: |
          Defines the field to sort the result items by.
          Ascending order is applied by default, but the minus character
          can be used to indicate descending order instead.
        example: -created_at
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: created_at
          enum:
          - created_at
          - -created_at
          - name
          - -name
          type: string
        style: form
      - description: Optional parameter used to filter for example studies
        explode: true
        in: query
        name: "filter[is_example]"
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Optional parameter used to filter by study label
        example: CTV
        explode: true
        in: query
        name: "filter[label]"
        required: false
        schema:
          type: string
        style: form
      - description: Optional parameter used to search for studies where the name
          contains a substring (case insensitive)
        example: acme
        explode: true
        in: query
        name: "filter[name][contains]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          Optional parameter used to query studies by specific account IDs (only available to super admins).
          The value `*` is synonymous for "all accounts".
        examples:
          single:
            description: A specific account ID
            value: 4k3jKJ9D12kj0S4c
          multiple:
            description: Multiple accounts
            value: "4k3jKJ9D12kj0S4c,5k3jKJ9D12kj0S4c,6k3jKJ9D12kj0S4c"
          all:
            description: All accounts
            value: '*'
        explode: true
        in: query
        name: "filter[account_id]"
        required: false
        schema:
          default: The user's account ID
          type: string
        style: form
      - description: The desired page size
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: |
          Optional pagination parameter, indicating the previous cursor value to paginate beyond.
          The value to provide here is opaque, but can be found in previous requests in the `meta.page.last_cursor` field.
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listStudies_200_response'
          description: OK
      summary: List studies
      tags:
      - studies
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/studies
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/studies\", {\n  \"method\": \"GET\"\
          , \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response => {\n  console.log(response);\n\
          })"
    post:
      description: Create a new study
      operationId: createStudy
      requestBody:
        $ref: '#/components/requestBodies/StudyCreationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createStudy_201_response'
          description: OK
      summary: Create study
      tags:
      - studies
  /measurement/labels:
    get:
      description: |
        List measurement labels that the user has access to
      operationId: listMeasurementLabels
      parameters:
      - description: |
          Optional parameter used to query measurement labels by specific account IDs
          (only available to super admins).
          The value `*` is synonymous for "all accounts".
        examples:
          single:
            description: A specific account ID
            value: 4k3jKJ9D12kj0S4c
          all:
            description: All accounts
            value: '*'
        explode: true
        in: query
        name: "filter[account_id]"
        required: false
        schema:
          default: The user's account ID
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listMeasurementLabels_200_response'
          description: OK
      summary: List measurement labels
      tags:
      - measurement_labels
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/measurement/labels
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/measurement/labels\", {\n  \"method\"\
          : \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response =>\
          \ {\n  console.log(response);\n})"
  /measurement/clients:
    get:
      description: |
        List measurement clients that the user has access to
      operationId: listMeasurementClients
      parameters:
      - description: |
          Optional parameter used to query measurement clients by specific account IDs
          (only available to super admins).
          The value `*` is synonymous for "all accounts".
        examples:
          single:
            description: A specific account ID
            value: 4k3jKJ9D12kj0S4c
          all:
            description: All accounts
            value: '*'
        explode: true
        in: query
        name: "filter[account_id]"
        required: false
        schema:
          default: The user's account ID
          type: string
        style: form
      - description: Optional parameter used to search for clients where the name
          contains a substring (case insensitive)
        example: acme
        explode: true
        in: query
        name: "filter[name][contains]"
        required: false
        schema:
          type: string
        style: form
      - description: The desired page size
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: |
          Optional pagination parameter, indicating the previous cursor value to paginate beyond.
          The value to provide here is opaque, but can be found in previous requests in the `meta.page.last_cursor` field.
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listMeasurementClients_200_response'
          description: OK
      summary: List measurement clients
      tags:
      - measurement_clients
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/measurement/clients
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/measurement/clients\", {\n  \"method\"\
          : \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response =>\
          \ {\n  console.log(response);\n})"
    post:
      description: |
        Create a measurement client in the account of the user
      operationId: createMeasurementClient
      requestBody:
        $ref: '#/components/requestBodies/MeasurementClientCreationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createMeasurementClient_201_response'
          description: OK
      summary: Create measurement client
      tags:
      - measurement_clients
  /measurement/clients/{client_id}:
    delete:
      description: |
        Deletes a measurement client
      operationId: deleteMeasurementClientById
      parameters:
      - explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Object deleted
      summary: Delete measurement client
      tags:
      - measurement_clients
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X DELETE \
          https://api.digiseg.net/measurement/clients/$CLIENT_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/measurement/clients/\"+client_id,\
          \ {\n  \"method\": \"DELETE\", \n  \"headers\": {\"X-API-KEY\": apikey},\n\
          }).then(response => {\n  console.log(response);\n})"
    get:
      description: |
        Get information for a specific measurement client
      operationId: getMeasurementClientById
      parameters:
      - explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createMeasurementClient_201_response'
          description: OK
      summary: Get measurement client
      tags:
      - measurement_clients
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/measurement/clients/$CLIENT_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/measurement/clients/\"+client_id,\
          \ {\n  \"method\": \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n\
          }).then(response => {\n  console.log(response);\n})"
    put:
      description: |
        Updates properties of a measurement client
      operationId: updateMeasurementClientById
      parameters:
      - explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/MeasurementClientUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createMeasurementClient_201_response'
          description: OK
      summary: Update measurement client
      tags:
      - measurement_clients
  /measurement/clients/{client_id}/assets/logo:
    delete:
      description: |
        Deletes the logo for a client
      operationId: deleteClientLogo
      parameters:
      - explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Object deleted
      summary: Delete measurement client logo
      tags:
      - measurement_clients
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X DELETE \
          https://api.digiseg.net/measurement/clients/$CLIENT_ID/assets/logo
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/measurement/clients/\"+client_id+\"\
          /assets/logo\", {\n  \"method\": \"DELETE\", \n  \"headers\": {\"X-API-KEY\"\
          : apikey},\n}).then(response => {\n  console.log(response);\n})"
    get:
      description: |
        Gets the client logo, if the image is hosted on the Digiseg platform.
        Refer to the clients's `logo_url` to get a non-authenticated and shareable URL for the logo.
      operationId: getClientLogo
      parameters:
      - explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "404":
          description: Not found
      summary: Get measurement client logo
      tags:
      - measurement_clients
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/measurement/clients/$CLIENT_ID/assets/logo
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/measurement/clients/\"+client_id+\"\
          /assets/logo\", {\n  \"method\": \"GET\", \n  \"headers\": {\"X-API-KEY\"\
          : apikey},\n}).then(response => {\n  console.log(response);\n})"
    put:
      description: |
        Upload a logo for a client
      operationId: uploadClientLogo
      parameters:
      - explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ImageUploadRequest'
      responses:
        "204":
          description: OK
      summary: Upload measurement client logo
      tags:
      - measurement_clients
  /studies/{study_id}:
    delete:
      description: |
        Deletes a study
      operationId: deleteStudyById
      parameters:
      - explode: false
        in: path
        name: study_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Object deleted
      summary: Delete study
      tags:
      - studies
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X DELETE \
          https://api.digiseg.net/studies/$STUDY_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/studies/\"+study_id, {\n  \"method\"\
          : \"DELETE\", \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response\
          \ => {\n  console.log(response);\n})"
    get:
      description: |
        Get study information for a specific study
      operationId: getStudyById
      parameters:
      - explode: false
        in: path
        name: study_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createStudy_201_response'
          description: OK
      summary: Get study
      tags:
      - studies
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/studies/$STUDY_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/studies/\"+study_id, {\n  \"method\"\
          : \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response =>\
          \ {\n  console.log(response);\n})"
    put:
      description: |
        Updates properties of a study
      operationId: updateStudyById
      parameters:
      - explode: false
        in: path
        name: study_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/StudyUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createStudy_201_response'
          description: OK
      summary: Update study
      tags:
      - studies
  /studies/{study_id}/assets/banner_image:
    delete:
      description: |
        Deletes the banner image for a study
      operationId: deleteStudyBannerImage
      parameters:
      - explode: false
        in: path
        name: study_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Object deleted
      summary: Delete study banner image logo
      tags:
      - studies
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X DELETE \
          https://api.digiseg.net/studies/$STUDY_ID/assets/banner_image
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/studies/\"+study_id+\"/assets/banner_image\"\
          , {\n  \"method\": \"DELETE\", \n  \"headers\": {\"X-API-KEY\": apikey},\n\
          }).then(response => {\n  console.log(response);\n})"
    get:
      description: |
        Gets the study banner image, if the image is hosted on the Digiseg platform.
        Refer to the study's `banner_image_url` to get a non-authenticated and shareable URL for the logo.
      operationId: getStudyBannerImage
      parameters:
      - explode: false
        in: path
        name: study_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "404":
          description: Not found
      summary: Get study banner image
      tags:
      - studies
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/studies/$STUDY_ID/assets/banner_image
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/studies/\"+study_id+\"/assets/banner_image\"\
          , {\n  \"method\": \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n\
          }).then(response => {\n  console.log(response);\n})"
    put:
      description: |
        Upload a banner image for a study
      operationId: uploadStudyBannerImage
      parameters:
      - explode: false
        in: path
        name: study_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ImageUploadRequest'
      responses:
        "204":
          description: OK
      summary: Upload study banner image
      tags:
      - studies
  /studies/{study_id}/stats/audiences:
    get:
      description: |
        Query the audience statistics for a study, enabling the user
        to see the representation of matched household characteristics
        to impressions and clicks. These statistics can be compared to
        the Average Internet Population (globally or for a specific country),
        or to the audience stats of other studies.
      operationId: queryStudyAudienceStats
      parameters:
      - explode: false
        in: path
        name: study_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/queryStudyAudienceStats_200_response'
          description: OK
      summary: Audience statistics for study
      tags:
      - studies
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/studies/$STUDY_ID/stats/audiences
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/studies/\"+study_id+\"/stats/audiences\"\
          , {\n  \"method\": \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n\
          }).then(response => {\n  console.log(response);\n})"
  /studies/{study_id}/stats/countries:
    get:
      description: |
        Query the country statistics for a study, enabling the user
        to see where the study is being delivered.
      operationId: queryStudyCountryStats
      parameters:
      - explode: false
        in: path
        name: study_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/queryStudyCountryStats_200_response'
          description: OK
      summary: Country statistics for study
      tags:
      - studies
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/studies/$STUDY_ID/stats/countries
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/studies/\"+study_id+\"/stats/countries\"\
          , {\n  \"method\": \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n\
          }).then(response => {\n  console.log(response);\n})"
  /studies/{study_id}/stats/timing:
    get:
      description: |
        Query the timing statistics for a study, enabling the user
        to see performance and delivery figures at different
        times of day, days of the week and days of the month.
      operationId: queryStudyTimingStats
      parameters:
      - explode: false
        in: path
        name: study_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/queryStudyTimingStats_200_response'
          description: OK
      summary: Timing statistics for study
      tags:
      - studies
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/studies/$STUDY_ID/stats/timing
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/studies/\"+study_id+\"/stats/timing\"\
          , {\n  \"method\": \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n\
          }).then(response => {\n  console.log(response);\n})"
  /studies/{study_id}/stats/frequencies:
    get:
      description: |
        Query the frequency statistics for a study. Frequency
        statistics are helpful to identify the frequency of impressions
        per user, or distinct reach of a study. It can also be helpful
        to identify how multiple impressions for the same users may or
        may not generate more clicks.
      operationId: queryStudyFrequencyStats
      parameters:
      - explode: false
        in: path
        name: study_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/queryStudyFrequencyStats_200_response'
          description: OK
      summary: Frequency statistics for study
      tags:
      - studies
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/studies/$STUDY_ID/stats/frequencies
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/studies/\"+study_id+\"/stats/frequencies\"\
          , {\n  \"method\": \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n\
          }).then(response => {\n  console.log(response);\n})"
  /populations/{category_key}:
    get:
      description: List all populations within a category
      operationId: listPopuplations
      parameters:
      - description: An identifier for the category
        explode: false
        in: path
        name: category_key
        required: true
        schema:
          example: aip
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listPopuplations_200_response'
          description: OK
      summary: List populations of category
      tags:
      - populations
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/populations/$CATEGORY_KEY
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/populations/\"+category_key, {\n\
          \  \"method\": \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response\
          \ => {\n  console.log(response);\n})"
  /populations/{category_key}/{population_key}:
    get:
      description: Get population data referenced by a specific key.
      operationId: getPopuplationByKey
      parameters:
      - description: An identifier for the category
        explode: false
        in: path
        name: category_key
        required: true
        schema:
          example: aip
          type: string
        style: simple
      - description: An identifier for the population
        explode: false
        in: path
        name: population_key
        required: true
        schema:
          example: dk
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPopuplationByKey_200_response'
          description: OK
      summary: Get Population by key
      tags:
      - populations
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/populations/$CATEGORY_KEY/$POPULATION_KEY
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/populations/\"+category_key+\"/\"\
          +population_key, {\n  \"method\": \"GET\", \n  \"headers\": {\"X-API-KEY\"\
          : apikey},\n}).then(response => {\n  console.log(response);\n})"
  /usage/audience_data/monthly:
    get:
      description: Provides usage stats on a monthly basis.
      operationId: listAudienceDataMonthlyUsage
      parameters:
      - description: Year to filter by
        explode: true
        in: query
        name: "filter[year]"
        required: false
        schema:
          type: integer
        style: form
      - description: |
          Optional parameter used to query usage of specific account IDs (only available to super admins).
        explode: true
        in: query
        name: "filter[account_id]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAudienceDataMonthlyUsage_200_response'
          description: OK
      summary: List monthly usage of Audience Data
      tags:
      - usage
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/usage/audience_data/monthly
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/usage/audience_data/monthly\", {\n\
          \  \"method\": \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response\
          \ => {\n  console.log(response);\n})"
  /usage/audience_data/daily:
    get:
      description: Provides usage stats on a daily basis. Results available for the
        last 2 months.
      operationId: listAudienceDataDailyUsage
      parameters:
      - description: Date to query from
        explode: true
        in: query
        name: "filter[date][from]"
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: Date to query to
        explode: true
        in: query
        name: "filter[date][to]"
        required: false
        schema:
          format: date
          type: string
        style: form
      - description: |
          Optional parameter used to query usage of specific account IDs (only available to super admins).
        explode: true
        in: query
        name: "filter[account_id]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAudienceDataDailyUsage_200_response'
          description: OK
      summary: List daily usage of Audience Data
      tags:
      - usage
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/usage/audience_data/daily
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/usage/audience_data/daily\", {\n\
          \  \"method\": \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response\
          \ => {\n  console.log(response);\n})"
  /usage/audience_data/realtime:
    get:
      description: "Provides usage stats on a near-realtime basis. Results available\
        \ for the last 24 hours, provided with as short delay as possible."
      operationId: listAudienceDataRealtimeUsage
      parameters:
      - description: |
          Optional parameter used to query usage of specific account IDs (only available to super admins).
        explode: true
        in: query
        name: "filter[account_id]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAudienceDataRealtimeUsage_200_response'
          description: OK
      summary: List realtime usage of Audience Data
      tags:
      - usage
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/usage/audience_data/realtime
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/usage/audience_data/realtime\", {\n\
          \  \"method\": \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response\
          \ => {\n  console.log(response);\n})"
components:
  requestBodies:
    AccountCreationRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AccountCreation'
      required: true
    AccountUpdateRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AccountMutation'
      required: true
    ApiKeyCreationRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiKeyCreation'
      required: true
    UserCreationRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserCreation'
      required: true
    UserUpdateRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserMutation'
      required: true
    AccountSubscriptionCreationRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AccountSubscriptionCreation'
      required: true
    SubscriptionPlanCreationRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SubscriptionPlanFull'
      required: true
    ApiKeyUpdateRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiKeyMutation'
      required: true
    ImageUploadRequest:
      content:
        image/gif:
          schema:
            format: binary
            type: string
        image/png:
          schema:
            format: binary
            type: string
        image/jpeg:
          schema:
            format: binary
            type: string
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/uploadAccountLogo_request'
      required: true
    ResolveAudiencesOfMultipleRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResolveAudiencesOfMultipleRequest'
      required: true
    StudyCreationRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StudyCreation'
      required: true
    StudyUpdateRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/StudyMutation'
      required: true
    MeasurementClientCreationRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MeasurementClientMutation'
      required: true
    MeasurementClientUpdateRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MeasurementClientMutation'
      required: true
    KeyValuesRequest:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/KeyValues'
      required: true
  responses:
    RegistrationCreationResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/RegistrationCreationResponseData'
            type: object
      description: Created
    RegistrationVerificationResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/RegistrationVerificationResponseData'
              links:
                $ref: '#/components/schemas/RegistrationVerificationResponseLinks'
            type: object
      description: OK
    RegistrationByIdResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/RegistrationByIdResponseData'
            type: object
      description: OK
    AccountSubscriptionsSummaryResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/getAccountSubscriptions_200_response'
      description: OK
    ListSubscriptionPlansResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/listSubscriptionPlans_200_response'
      description: OK
    AccountSubscriptionByIdResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/getAccountSubscriptionById_200_response'
      description: OK
    SubscriptionPlanByIdResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/SubscriptionPlanFull'
            type: object
      description: OK
    AccountByIdResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/getAccountById_200_response'
      description: OK
    AccountListResponse:
      content:
        application/json:
          schema:
            properties:
              meta:
                $ref: '#/components/schemas/ListPaginationMeta'
              links:
                $ref: '#/components/schemas/ListPaginationLinks'
              data:
                items:
                  $ref: '#/components/schemas/AccountItem'
                type: array
            type: object
      description: OK
    ApiKeyByIdResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/getApiKeyById_200_response'
      description: OK
    ApiKeyCreationResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createApiKey_201_response'
      description: OK
    ApiKeyListResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/listApiKeysByAccountId_200_response'
      description: OK
    UserByIdResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createUserInAccount_201_response'
      description: OK
    CurrentUserResponse:
      $ref: '#/components/responses/UserByIdResponse'
    UserListResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/listUsersByAccountId_200_response'
      description: OK
    ForbiddenError:
      description: Forbidden
    NotFoundError:
      description: Not found
    BadRequestError:
      description: Bad request
    ObjectDeletedResponse:
      description: Object deleted
    StudyListResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/listStudies_200_response'
      description: OK
    StudyByIdResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createStudy_201_response'
      description: OK
    MeasurementLabelsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/listMeasurementLabels_200_response'
      description: OK
    MeasurementClientsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/listMeasurementClients_200_response'
      description: OK
    MeasurementClientByIdResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/createMeasurementClient_201_response'
      description: OK
    StudyAudienceStatsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/queryStudyAudienceStats_200_response'
      description: OK
    StudyCountryStatsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/queryStudyCountryStats_200_response'
      description: OK
    StudyTimingStatsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/queryStudyTimingStats_200_response'
      description: OK
    StudyFrequencyStatsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/queryStudyFrequencyStats_200_response'
      description: OK
    ListPopulationsResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/listPopuplations_200_response'
      description: OK
    PopulationResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/getPopuplationByKey_200_response'
      description: OK
    PopulationSourceResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/PopulationSource'
            type: object
      description: OK
    ListAudienceDataMonthlyUsageResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/listAudienceDataMonthlyUsage_200_response'
      description: OK
    ListAudienceDataDailyUsageResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/listAudienceDataDailyUsage_200_response'
      description: OK
    ListAudienceDataRealtimeUsageResponse:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/listAudienceDataRealtimeUsage_200_response'
      description: OK
    KeyValuesResponse:
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/KeyValues'
            type: object
      description: OK
  schemas:
    PasswordlessAuthRequest:
      properties:
        email:
          description: The email of the user
          format: email
          type: string
      required:
      - email
      type: object
    RegistrationRequest:
      properties:
        account_name:
          description: The name of the account to create
          type: string
        owner_email:
          description: The email of the account owner
          format: email
          type: string
        owner_name:
          description: The name of the account owner
          type: string
      required:
      - account_name
      - owner_email
      - owner_name
      type: object
    RegistrationByIdResponseData:
      properties:
        id:
          description: The ID of the registration
          type: string
        request:
          $ref: '#/components/schemas/RegistrationRequest'
        expires_at:
          description: Date and time of the registration expiry
          format: date-time
          type: string
        verified_at:
          description: "Date and time of the verification, if verified"
          format: date-time
          type: string
        verification_code:
          description: The code needed to verify this registration
          type: string
      type: object
    RegistrationCreationResponseData:
      properties:
        id:
          type: string
        email_sent:
          type: boolean
      type: object
    ListPaginationLinks:
      example:
        next: /path/to/next_page
        first: /path/to/first_page
      properties:
        first:
          description: Link to the first page of the list
          example: /path/to/first_page
          format: uri
          type: string
        next:
          description: Link to the next page of the list
          example: /path/to/next_page
          format: uri
          type: string
      type: object
    ListPaginationMeta:
      example:
        page:
          first_cursor: first_cursor
          total: 238
          last_cursor: last_cursor
          rangeTruncated: true
      properties:
        page:
          $ref: '#/components/schemas/ListPaginationMetaPage'
      type: object
    ListPaginationMetaPage:
      example:
        first_cursor: first_cursor
        total: 238
        last_cursor: last_cursor
        rangeTruncated: true
      properties:
        total:
          description: The total amount of elements in the list (the returned `data`
            may be paginated)
          example: 238
          type: integer
        first_cursor:
          type: string
        last_cursor:
          description: "Indicates the cursor value to use in `page[after]`, when paginating\
            \ to the next page"
          type: string
        rangeTruncated:
          description: Indicates whether the list has been truncated (ie. more items
            can be queried using pagination)
          type: boolean
      required:
      - rangeTruncated
      type: object
    UserSortOption:
      default: created_at
      enum:
      - created_at
      - -created_at
      - name
      - -name
      - logged_in_at
      - -logged_in_at
      type: string
    IdentifyableObject:
      properties:
        id:
          description: Unique ID for the object
          example: 4k3jKJ9D12kj0S4c
          readOnly: true
          type: string
      type: object
    TimestampedObject:
      properties:
        created_at:
          description: Date and time of the object creation
          format: date-time
          readOnly: true
          type: string
        created_by:
          description: ID of the user who created the object
          readOnly: true
          type: string
        updated_at:
          description: Date and time of the latest update to the object
          format: date-time
          readOnly: true
          type: string
        updated_by:
          description: ID of the user who last updated the object
          readOnly: true
          type: string
      type: object
    CompanyType:
      description: A type of company that an account can represent
      enum:
      - advertiser
      - agency
      - publisher
      - technology_provider
      - other
      type: string
    CompanySize:
      description: Describes the size of a company
      enum:
      - Self-employed
      - 1-10 employees
      - 11-50 employees
      - 51-200 employees
      - 201-500 employees
      - 501-1000 employees
      - 1001-5000 employees
      - "5001-10,000 employees"
      - "10,001+ employees"
      type: string
    AccountBase:
      properties:
        name:
          description: Human readable name of the account
          example: Example Co.
          type: string
        logo_url:
          description: The URL to the logo of the account
          example: https://api.digiseg.net/assets/account/ioi4324i2309das/logo?vrft=csdkl232l4pod4
          format: uri
          type: string
        website_url:
          description: URL of the account's primary website
          format: uri
          type: string
        billing_country:
          description: Country code of the account. Requires `owner` role to change.
          example: DK
          maxLength: 2
          type: string
        company_type:
          description: |
            The type of company that the account represents.
            Note that for forward-compatibility the data type here is simply a string.
            The values, if present, will however typically originate from the `CompanyType` enum.
          example: "[\"agency\"]"
          maxLength: 64
          type: string
        company_size:
          $ref: '#/components/schemas/CompanySize'
        has_clients:
          description: "Determines whether the account has clients that they work\
            \ for, or if their activities are for themselves."
          type: boolean
        slug:
          deprecated: true
          description: A short human-readable name to identify the account. Must be
            lower-case and between 4 and 16 characters.
          maxLength: 12
          minLength: 4
          pattern: "^[a-z]{4,16}$"
          type: string
      type: object
    AccountMutationAux:
      properties:
        company_type:
          $ref: '#/components/schemas/CompanyType'
      type: object
    AccountCreationAux:
      properties:
        owner:
          $ref: '#/components/schemas/AccountOwnerCreation'
      type: object
    AccountOwnerCreation:
      properties:
        name:
          description: The account owner's name
          type: string
        email:
          description: The account owner's email
          example: casey.doe@example.com
          format: email
          type: string
        password:
          description: The account owner's password
          type: string
      required:
      - email
      - name
      type: object
    UserCreationNotification:
      properties:
        notify_user:
          default: true
          description: Whether or not to notify the user that they have been registered
          type: boolean
      type: object
    PostalAddress:
      example:
        line1: Gl Kongevej 3B
        city: Copenhagen
        postal_code: "1610"
      properties:
        line1:
          description: The first line of the postal address
          maxLength: 255
          type: string
        line2:
          description: The second line of the postal address
          maxLength: 255
          type: string
        city:
          description: The city of the billing address
          maxLength: 128
          type: string
        postal_code:
          description: The postal code of the billing address
          maxLength: 16
          type: string
        state:
          description: The state of the billing address
          maxLength: 64
          type: string
      type: object
    AccountAux:
      properties:
        owner_id:
          deprecated: true
          description: ID of the user who is the ultimate owner of the account. Deprecated
            in favor of the `owner` role of the user's account membership.
          type: string
        billing_email:
          description: The email address to send billing information to. Requires
            `owner` role to change.
          format: email
          type: string
        billing_address:
          $ref: '#/components/schemas/PostalAddress'
        stripe_customer_id:
          readOnly: true
          type: string
      type: object
    AccountItem:
      allOf:
      - $ref: '#/components/schemas/IdentifyableObject'
      - $ref: '#/components/schemas/AccountBase'
    AccountCreation:
      allOf:
      - $ref: '#/components/schemas/AccountBase'
      - $ref: '#/components/schemas/AccountAux'
      - $ref: '#/components/schemas/AccountMutationAux'
      - $ref: '#/components/schemas/AccountCreationAux'
      - $ref: '#/components/schemas/UserCreationNotification'
    AccountMutation:
      allOf:
      - $ref: '#/components/schemas/AccountBase'
      - $ref: '#/components/schemas/AccountAux'
      - $ref: '#/components/schemas/AccountMutationAux'
      example:
        company_type: advertiser
        stripe_customer_id: stripe_customer_id
        website_url: https://openapi-generator.tech
        logo_url: https://api.digiseg.net/assets/account/ioi4324i2309das/logo?vrft=csdkl232l4pod4
        has_clients: true
        owner_id: owner_id
        billing_email: billing_email
        name: Example Co.
        billing_country: DK
        billing_address:
          line1: Gl Kongevej 3B
          city: Copenhagen
          postal_code: "1610"
        slug: slug
        company_size: Self-employed
    AccountFull:
      allOf:
      - $ref: '#/components/schemas/AccountItem'
      - $ref: '#/components/schemas/AccountAux'
      - $ref: '#/components/schemas/TimestampedObject'
      example:
        company_type: "[\"agency\"]"
        logo_url: https://api.digiseg.net/assets/account/ioi4324i2309das/logo?vrft=csdkl232l4pod4
        owner_id: owner_id
        billing_country: DK
        created_at: 2000-01-23T04:56:07.000+00:00
        billing_address:
          line1: Gl Kongevej 3B
          city: Copenhagen
          postal_code: "1610"
        created_by: created_by
        stripe_customer_id: stripe_customer_id
        website_url: https://openapi-generator.tech
        updated_at: 2000-01-23T04:56:07.000+00:00
        has_clients: true
        billing_email: billing_email
        name: Example Co.
        updated_by: updated_by
        id: 4k3jKJ9D12kj0S4c
        slug: slug
        company_size: Self-employed
    AccountLinks:
      example:
        users: /accounts/4k3jKJ9D12kj0S4c/users
      properties:
        users:
          description: Link for getting to the account's users
          example: /accounts/4k3jKJ9D12kj0S4c/users
          format: uri
          type: string
      type: object
    LimitedOrFullFeature:
      enum:
      - full
      - limited
      type: string
    PlanFeatureSet:
      example:
        has_report_customization: true
        study_event_set: null
        max_audience_lookups_per_month: 2
        study_audience_set: full
        has_audience_recommendations: true
        max_active_studies: 5
        max_events_per_study: 5
        has_report_sharing_clients: true
        max_users: 6
        max_clients: 1
        has_report_sharing_public: true
      properties:
        max_users:
          type: integer
        max_clients:
          type: integer
        max_active_studies:
          type: integer
        max_events_per_study:
          type: integer
        max_audience_lookups_per_month:
          type: integer
        study_audience_set:
          $ref: '#/components/schemas/LimitedOrFullFeature'
        study_event_set:
          $ref: '#/components/schemas/LimitedOrFullFeature'
        has_audience_recommendations:
          type: boolean
        has_report_customization:
          type: boolean
        has_report_sharing_clients:
          type: boolean
        has_report_sharing_public:
          type: boolean
      required:
      - has_audience_recommendations
      - has_report_customization
      - has_report_sharing_clients
      - has_report_sharing_public
      - max_active_studies
      - max_audience_lookups_per_month
      - max_clients
      - max_events_per_study
      - max_users
      - study_audience_set
      - study_event_set
      type: object
    AccountSubscriptionsSummary:
      description: Summarizes an account's current subscription(s) and the feature
        set available
      example:
        subscriptions:
        - end_date: 2000-01-23
          is_active: true
          actual_price:
            amount: 0
            currency: EUR
            interval: monthly
          id: id
          plan:
            code: code
            product_type: base
            stripe_product_id: stripe_product_id
            is_public: true
            id: 4k3jKJ9D12kj0S4c
            list_price:
              amount: 0
              currency: EUR
              interval: monthly
            display_name: display_name
            stripe_price_id: stripe_price_id
          start_date: 2000-01-23
          payment_configuration:
            stripe_subscription_item_id: stripe_subscription_item_id
            timing: pre
            stripe_subscription_id: stripe_subscription_id
            platform: stripe
        - end_date: 2000-01-23
          is_active: true
          actual_price:
            amount: 0
            currency: EUR
            interval: monthly
          id: id
          plan:
            code: code
            product_type: base
            stripe_product_id: stripe_product_id
            is_public: true
            id: 4k3jKJ9D12kj0S4c
            list_price:
              amount: 0
              currency: EUR
              interval: monthly
            display_name: display_name
            stripe_price_id: stripe_price_id
          start_date: 2000-01-23
          payment_configuration:
            stripe_subscription_item_id: stripe_subscription_item_id
            timing: pre
            stripe_subscription_id: stripe_subscription_id
            platform: stripe
        account_id: account_id
        feature_set:
          has_report_customization: true
          study_event_set: null
          max_audience_lookups_per_month: 2
          study_audience_set: full
          has_audience_recommendations: true
          max_active_studies: 5
          max_events_per_study: 5
          has_report_sharing_clients: true
          max_users: 6
          max_clients: 1
          has_report_sharing_public: true
      properties:
        account_id:
          description: The ID of the account
          readOnly: true
          type: string
        subscriptions:
          items:
            $ref: '#/components/schemas/AccountSubscriptionItem'
          type: array
        feature_set:
          $ref: '#/components/schemas/PlanFeatureSet'
      required:
      - account_id
      - feature_set
      - subscriptions
      type: object
    AccountSubscriptionItem:
      allOf:
      - $ref: '#/components/schemas/IdentifyableObject'
      - $ref: '#/components/schemas/AccountSubscriptionBase'
      - $ref: '#/components/schemas/AccountSubscriptionItemAux'
      example:
        end_date: 2000-01-23
        is_active: true
        actual_price:
          amount: 0
          currency: EUR
          interval: monthly
        id: id
        plan:
          code: code
          product_type: base
          stripe_product_id: stripe_product_id
          is_public: true
          id: 4k3jKJ9D12kj0S4c
          list_price:
            amount: 0
            currency: EUR
            interval: monthly
          display_name: display_name
          stripe_price_id: stripe_price_id
        start_date: 2000-01-23
        payment_configuration:
          stripe_subscription_item_id: stripe_subscription_item_id
          timing: pre
          stripe_subscription_id: stripe_subscription_id
          platform: stripe
    AccountSubscriptionFull:
      allOf:
      - $ref: '#/components/schemas/AccountSubscriptionItem'
      - $ref: '#/components/schemas/AccountSubscriptionFullAux'
      - $ref: '#/components/schemas/TimestampedObject'
      example:
        end_date: 2000-01-23
        is_active: true
        account_id: account_id
        updated_at: 2000-01-23T04:56:07.000+00:00
        actual_price:
          amount: 0
          currency: EUR
          interval: monthly
        updated_by: updated_by
        created_at: 2000-01-23T04:56:07.000+00:00
        id: id
        plan:
          code: code
          stripe_product_id: stripe_product_id
          created_at: 2000-01-23T04:56:07.000+00:00
          list_price:
            amount: 0
            currency: EUR
            interval: monthly
          display_name: display_name
          created_by: created_by
          stripe_price_id: stripe_price_id
          product_type: base
          updated_at: 2000-01-23T04:56:07.000+00:00
          feature_set:
            has_report_customization: true
            study_event_set: null
            max_audience_lookups_per_month: 2
            study_audience_set: full
            has_audience_recommendations: true
            max_active_studies: 5
            max_events_per_study: 5
            has_report_sharing_clients: true
            max_users: 6
            max_clients: 1
            has_report_sharing_public: true
          updated_by: updated_by
          is_public: true
          id: id
        created_by: created_by
        start_date: 2000-01-23
        payment_configuration:
          stripe_subscription_item_id: stripe_subscription_item_id
          timing: pre
          stripe_subscription_id: stripe_subscription_id
          platform: stripe
    AccountSubscriptionCreation:
      allOf:
      - $ref: '#/components/schemas/AccountSubscriptionBase'
      - properties:
          plan_id:
            description: The ID of the plan to subscribe to
            type: string
        type: object
    AccountSubscriptionBase:
      properties:
        id:
          description: The ID of the subscription
          readOnly: true
          type: string
        start_date:
          format: date
          type: string
        end_date:
          format: date
          type: string
        is_active:
          description: Is the subscription currently active or not?
          readOnly: true
          type: boolean
        actual_price:
          $ref: '#/components/schemas/SubscriptionPrice'
        payment_configuration:
          $ref: '#/components/schemas/AccountSubscriptionPaymentConfiguration'
      required:
      - id
      - is_active
      - start_date
      type: object
    AccountSubscriptionPaymentConfiguration:
      description: Describes the payment configuration of an account subscription
      example:
        stripe_subscription_item_id: stripe_subscription_item_id
        timing: pre
        stripe_subscription_id: stripe_subscription_id
        platform: stripe
      properties:
        platform:
          enum:
          - stripe
          - manual
          type: string
        timing:
          description: Is the subscription pre-paid or post-paid?
          enum:
          - pre
          - post
          type: string
        stripe_subscription_id:
          readOnly: true
          type: string
        stripe_subscription_item_id:
          readOnly: true
          type: string
      required:
      - platform
      - timing
      type: object
    AccountSubscriptionItemAux:
      properties:
        plan:
          $ref: '#/components/schemas/SubscriptionPlanItem'
      type: object
    AccountSubscriptionFullAux:
      properties:
        account_id:
          description: The ID of the account
          readOnly: true
          type: string
        plan:
          $ref: '#/components/schemas/SubscriptionPlanFull'
      required:
      - account_id
      - plan
      type: object
    SubscriptionPlanItem:
      allOf:
      - $ref: '#/components/schemas/IdentifyableObject'
      - $ref: '#/components/schemas/SubscriptionPlanBase'
      example:
        code: code
        product_type: base
        stripe_product_id: stripe_product_id
        is_public: true
        id: 4k3jKJ9D12kj0S4c
        list_price:
          amount: 0
          currency: EUR
          interval: monthly
        display_name: display_name
        stripe_price_id: stripe_price_id
    SubscriptionPlanFull:
      allOf:
      - $ref: '#/components/schemas/IdentifyableObject'
      - $ref: '#/components/schemas/TimestampedObject'
      - $ref: '#/components/schemas/SubscriptionPlanBase'
      - $ref: '#/components/schemas/SubscriptionPlanAux'
      example:
        code: code
        stripe_product_id: stripe_product_id
        created_at: 2000-01-23T04:56:07.000+00:00
        list_price:
          amount: 0
          currency: EUR
          interval: monthly
        display_name: display_name
        created_by: created_by
        stripe_price_id: stripe_price_id
        product_type: base
        updated_at: 2000-01-23T04:56:07.000+00:00
        feature_set:
          has_report_customization: true
          study_event_set: null
          max_audience_lookups_per_month: 2
          study_audience_set: full
          has_audience_recommendations: true
          max_active_studies: 5
          max_events_per_study: 5
          has_report_sharing_clients: true
          max_users: 6
          max_clients: 1
          has_report_sharing_public: true
        updated_by: updated_by
        is_public: true
        id: id
    SubscriptionPlanBase:
      properties:
[...]
