openapi: 3.0.3
info:
  contact:
    email: support@digiseg.io
  description: |
    ### Digiseg API documentation

    # Introduction

    This API let you harness the power of Digisegs powerful and tracking-free segmentation
    engine.

    Audiences by Digiseg are available in 50+ countries, probablistically mapping
    neighborhood characteristics to the IP addresses observed on the internet -
    Household targeting & measurement for the post-cookie world.

    ## Developer SDKs

    In addition to using these APIs directly through any HTTP client, we provide a set
    of API client SDKs for popular programming languages:

    <div class="api-clients">
      <a class="api-client-box" href="https://github.com/digiseg-labs/api-client-python">
        <i class="api-client-sdk-logo devicon-python-plain"></i>
        <p>API client for Python</p>
      </a>
      <a class="api-client-box" href="https://github.com/digiseg-labs/api-client-ts">
        <i class="api-client-sdk-logo devicon-typescript-plain"></i>
        <p>API client for TypeScript</p>
      </a>
      <a class="api-client-box" href="https://github.com/digiseg-labs/api-client-go">
        <i class="api-client-sdk-logo devicon-go-original-wordmark"></i>
        <p>API client for Go</p>
      </a>
    </div>
    <div class="api-clients-breaker" />
  title: Digiseg API
  version: 1.0.0
  x-logo:
    url: ./Digiseg-Logo.svg
    altText: Digiseg
servers:
- description: Digiseg API - production
  url: https://api.digiseg.net
security:
- bearerAuth: []
- apiKeyHeaderAuth: []
- apiKeyQueryParamAuth: []
- oAuth: []
tags:
- description: |
    Authentication with Digiseg APIs can be done in various ways. If you have received an
    API key from Digiseg, the simplest way to authenticate is simply to place it in
    the `X-API-KEY` header of your API requests, like this:

    ```bash
    curl -H "X-API-KEY: $APIKEY" https://api.digiseg.net/user
    ```

    If you do not have an API key, you need an _access token_. These are temporary
    tokens that are placed as a bearer token in the `Authorization` header. You obtain
    an access token through the `/auth/token` /
    [Create Access token](#tag/auth/operation/createAccessToken)
    endpoint, described in this section.
  name: auth
  x-displayName: Authentication
- description: |
    Services for managing users within your account. Access to user data
    depends on your user role, and may therefore be restricted.
  name: users
  x-displayName: User management
- description: |
    Services for managing your account. Access to account and user data
    depends on your user role, and may therefore be restricted.
  name: accounts
  x-displayName: Accounts management
- description: |
    Audiences are segments of households that you can target and measure. Use
    the Audience API to identify specific segments that you wish to initiate
    certain behaviour or actions from.
  name: audiences
  x-displayName: Audiences
- description: |
    Measurement studies are instrumented in online ad campaigns or websites in
    order to evaluate the performance, reach and targeting power of various audiences.
    Use the studies API to create studies, instrument them in your campaign creatives
    or on a webpage, and access statistics about the impressions, actions and other
    events.
  name: studies
  x-displayName: Studies
- description: |
    Measurement labels can be used for categorization and filtering across all
    measurement activities. At the core, the labels are simple text strings that
    can be tagged upon e.g. a study. By labeling measurement activities, it
    grants accounts the ability to compare activities with other activities that
    are categorized in similar ways.
  name: measurement_labels
  x-displayName: Labels
- description: |
    In your Digiseg account you can register measurement clients.
    A measurement clients could be a customer, a brand or any other type
    of client. This is typically useful when running measurement studies or
    other measurement activity in service of someone else.
  name: measurement_clients
  x-displayName: Clients / customers
- description: |
    Populations represent benchmark numbers that can be used to compare your
    audience profile with. Digiseg produces a large set of populations called the
    Average Internet Population, made available in the population category `aip`.
  name: populations
  x-displayName: Populations
- name: usage
  x-displayName: Usage statistics
- description: |
    Digiseg audiences are grouped into private and business audiences. In each group
    there are categories that then contain the audiences. The API endpoints that
    communicate audiences and household characteristics, audience codes are being used.

    The following table can be used as a reference for audience codes. Note that Digiseg
    will at times update names of audiences for purposes of internationalization, clarity
    or other such purposes - but the codes will remain as-is and should be considered a
    stable point of reference for the audience.

    ### Core audiences
    | Group | Category code | Audience Code | Category name | Audience Name |
    |-------|---------------|---------------|---------------|---------------|
    |  private  |  home_type  |  a1  |  Home Type  |  Apartment  |
    |    |    |  a2  |  Home Type  |  House  |
    |    |  savings  |  b1  |  Savings  |  No Savings  |
    |    |    |  b2  |  Savings  |  Smaller Savings  |
    |    |    |  b3  |  Savings  |  Larger Savings  |
    |    |  lifecycle  |  c1  |  Lifecycle  |  Young couples and singles  |
    |    |    |  c2  |  Lifecycle  |  Early family life  |
    |    |    |  c3  |  Lifecycle  |  Middle-aged families  |
    |    |    |  c4  |  Lifecycle  |  Mature families  |
    |    |    |  c5  |  Lifecycle  |  Pensioners / Retirees  |
    |    |  cars  |  d1  |  Cars in Household  |  No cars  |
    |    |    |  d2  |  Cars in Household  |  1 car  |
    |    |    |  d3  |  Cars in Household  |  2 or more cars  |
    |    |  children  |  e1  |  Children in the Household  |  No children  |
    |    |    |  e2  |  Children in the Household  |  1 child  |
    |    |    |  e3  |  Children in the Household  |  2 or more children  |
    |    |  education  |  f1  |  Education  |  Basic  |
    |    |    |  f2  |  Education  |  Medium  |
    |    |    |  f3  |  Education  |  Higher  |
    |    |  neighbourhood_type  |  g1  |  Neighbourhood Type  |  Countryside  |
    |    |    |  g2  |  Neighbourhood Type  |  Village  |
    |    |    |  g3  |  Neighbourhood Type  |  Suburban  |
    |    |    |  g4  |  Neighbourhood Type  |  City  |
    |    |  income  |  h1  |  Household Income  |  Lowest 20%  |
    |    |    |  h2  |  Household Income  |  Lowest 20-40%  |
    |    |    |  h3  |  Household Income  |  Middle 40-60%  |
    |    |    |  h4  |  Household Income  |  Highest 60-80%  |
    |    |    |  h5  |  Household Income  |  Top 20%  |
    |    |  home_ownership  |  j1  |  Home Ownership  |  Rent  |
    |    |    |  j2  |  Home Ownership  |  Own  |
    |    |  building_age  |  k1  |  Building Age  |  Pre 1945  |
    |    |    |  k2  |  Building Age  |  1945-1989  |
    |    |    |  k3  |  Building Age  |  1990 until today  |
    |    |  living_space  |  l1  |  Living space  |  Small  |
    |    |    |  l2  |  Living space  |  Medium  |
    |    |    |  l3  |  Living space  |  Large  |
    |    |  tech_level  |  n1  |  Tech-Level in Household  |  Basic  |
    |    |    |  n2  |  Tech-Level in Household  |  Medium  |
    |    |    |  n3  |  Tech-Level in Household  |  High  |
    |  business  |  size  |  ba1  |  Business  |  Small Business  |
    |    |    |  ba2  |  Business  |  Medium Business  |
    |    |    |  ba3  |  Business  |  Larger Business  |
    ### Composite audiences
    | Category code | Audience Code | Category name | Audience Name |
    |---------------|---------------|---------------|---------------|
    |  composite_betting  |  060  |  Betting Online  |  Betting, Casino & Poker  |
    |  composite_buyingpower  |  092  |  Buying Power  |  Buying Power Low  |
    |    |  093  |  Buying Power  |  Buying Power High  |
    |  composite_carclass  |  001  |  Car Classes  |  Micro & City  |
    |    |  002  |  Car Classes  |  Mini  |
    |    |  003  |  Car Classes  |  Small Medium / Compact  |
    |    |  004  |  Car Classes  |  Large Medium  |
    |    |  005  |  Car Classes  |  Large Premium  |
    |    |  006  |  Car Classes  |  Large Luxury Sedan  |
    |    |  007  |  Car Classes  |  MPV / Minivans  |
    |    |  008  |  Car Classes  |  SUV  |
    |    |  009  |  Car Classes  |  Electric & Hybrid  |
    |    |  010  |  Car Classes  |  Sport  |
    |  composite_career  |  110  |  Recruitment & Career  |  Employment in Large Companies  |
    |    |  111  |  Recruitment & Career  |  C-Level Positions  |
    |    |  112  |  Recruitment & Career  |  Management Positions  |
    |    |  113  |  Recruitment & Career  |  Graduate Programs & First Job  |
    |    |  114  |  Recruitment & Career  |  IT Positions  |
    |    |  158  |  Recruitment & Career  |  Employment in Small Companies  |
    |  composite_carservice  |  011  |  Car Services  |  Service & Car Parts  |
    |    |  012  |  Car Services  |  Car Tires  |
    |    |  013  |  Car Services  |  Car Leasing (Private)  |
    |  composite_childrensarticles  |  044  |  Children Articles  |  Games & Toys  |
    |  composite_computer_games  |  059  |  Computer Games  |  Games & Consoles  |
    |  composite_culture_entertainment  |  045  |  Culture & Entertainment  |  Cinema Tickets  |
    |    |  046  |  Culture & Entertainment  |  Opera & Theater  |
    |    |  047  |  Culture & Entertainment  |  Concert & Festival  |
    |    |  048  |  Culture & Entertainment  |  Museum & Exhibition  |
    |    |  049  |  Culture & Entertainment  |  Books  |
    |    |  050  |  Culture & Entertainment  |  Audiobooks  |
    |  composite_electronics  |  061  |  Electronics  |  TV  |
    |    |  062  |  Electronics  |  Phones & Smartphones  |
    |    |  063  |  Electronics  |  Small Domestic Appliances  |
    |    |  064  |  Electronics  |  Major Domestic Appliances  |
    |    |  065  |  Electronics  |  Garden Articles  |
    |    |  066  |  Electronics  |  HiFi Audio  |
    |    |  067  |  Electronics  |  Computer Tablet  |
    |    |  068  |  Electronics  |  Software & Apps  |
    |  composite_fashion  |  130  |  Fashion & Shopping  |  Shopping Mall Visitors  |
    |    |  131  |  Fashion & Shopping  |  Footwear & Shoes  |
    |    |  132  |  Fashion & Shopping  |  Jewellery  |
    |    |  133  |  Fashion & Shopping  |  Clothes  |
    |  composite_financials  |  014  |  Banking / Financing  |  House Loan  |
    |    |  015  |  Banking / Financing  |  Car Loan  |
    |    |  016  |  Banking / Financing  |  Consumer Loan  |
    |    |  017  |  Banking / Financing  |  Renovation  |
    |    |  018  |  Banking / Financing  |  Quick Loan  |
    |    |  019  |  Banking / Financing  |  Mobile Banking  |
    |    |  020  |  Banking / Financing  |  Investors  |
    |  composite_fmcg  |  069  |  Fast-Moving Consumer Good (FMCG)  |  Candy & Sweets  |
    |    |  070  |  Fast-Moving Consumer Good (FMCG)  |  Energy Drinks  |
    |    |  071  |  Fast-Moving Consumer Good (FMCG)  |  Sodas  |
    |    |  072  |  Fast-Moving Consumer Good (FMCG)  |  Chips  |
    |    |  073  |  Fast-Moving Consumer Good (FMCG)  |  Washing Detergents  |
    |    |  074  |  Fast-Moving Consumer Good (FMCG)  |  Bio & Organic Products  |
    |    |  075  |  Fast-Moving Consumer Good (FMCG)  |  Baby Food  |
    |    |  076  |  Fast-Moving Consumer Good (FMCG)  |  Dairy Products  |
    |    |  077  |  Fast-Moving Consumer Good (FMCG)  |  Beer  |
    |  composite_homerenovation  |  031  |  Home Renovation  |  House or apartment decoration  |
    |    |  032  |  Home Renovation  |  Kitchen  |
    |    |  033  |  Home Renovation  |  Bathroom & Plumbing  |
    |    |  034  |  Home Renovation  |  Windows, Doors & Tiles  |
    |    |  035  |  Home Renovation  |  Garden  |
    |    |  036  |  Home Renovation  |  Furniture  |
    |  composite_homesecurity  |  094  |  Home Security  |  House Alarms & Video Surveillance  |
    |  composite_insurance  |  021  |  Insurance  |  Car  |
    |    |  022  |  Insurance  |  House & Apartment  |
    |    |  023  |  Insurance  |  Accident Insurance  |
    |    |  024  |  Insurance  |  Life Insurance  |
    |    |  025  |  Insurance  |  Pension Fund  |
    |    |  026  |  Insurance  |  Travel Insurance  |
    |  composite_lifecycle  |  083  |  Lifestyle  |  Fitness, Gym & Workout  |
    |    |  084  |  Lifestyle  |  Stop Smoking  |
    |    |  085  |  Lifestyle  |  Natural Medicin  |
    |    |  086  |  Lifestyle  |  Gym Supplements & Nutrients  |
    |    |  087  |  Lifestyle  |  Small Pets  |
    |    |  088  |  Lifestyle  |  Large Pets  |
    |    |  089  |  Lifestyle  |  Weight Loss  |
    |    |  091  |  Lifestyle  |  Students  |
    |    |  162  |  Lifestyle  |  Parents with babies  |
    |  composite_occasions  |  102  |  Occasions & Presents  |  Valentine's Day  |
    |    |  103  |  Occasions & Presents  |  Mothers's Day  |
    |    |  104  |  Occasions & Presents  |  Fathers's Day  |
    |    |  105  |  Occasions & Presents  |  Children's Day  |
    |    |  106  |  Occasions & Presents  |  Wedding & Engagement  |
    |    |  107  |  Occasions & Presents  |  Women's Day  |
    |    |  108  |  Occasions & Presents  |  Black Friday  |
    |    |  109  |  Occasions & Presents  |  Cyber Monday  |
    |    |  152  |  Occasions & Presents  |  Presents for young / inexpensive  |
    |    |  153  |  Occasions & Presents  |  Presents for young / expensive  |
    |    |  154  |  Occasions & Presents  |  Presents for families with children / inexpensive  |
    |    |  155  |  Occasions & Presents  |  Presents for families with children / expensive  |
    |    |  156  |  Occasions & Presents  |  Presents for mature / inexpensive  |
    |    |  157  |  Occasions & Presents  |  Presents for mature / expensive  |
    |  composite_personalhygiene  |  078  |  Personal Hygiene  |  Baby Hygiene  |
    |    |  079  |  Personal Hygiene  |  SPF Sunscreen  |
    |    |  080  |  Personal Hygiene  |  Toothbrushes & Toothpaste  |
    |    |  081  |  Personal Hygiene  |  Cosmetics  |
    |    |  082  |  Personal Hygiene  |  Parfumes  |
    |  composite_politics  |  115  |  Political Themes  |  Children & Youth  |
    |    |  116  |  Political Themes  |  Elder Care  |
    |    |  117  |  Political Themes  |  Research & Education System  |
    |    |  118  |  Political Themes  |  Public Transport  |
    |    |  119  |  Political Themes  |  Car Transport & Road Infrastructure  |
    |    |  120  |  Political Themes  |  Art & Culture  |
    |    |  121  |  Political Themes  |  Green Transition & Environment  |
    |    |  122  |  Political Themes  |  Law & Order  |
    |    |  123  |  Political Themes  |  Immigration  |
    |    |  124  |  Political Themes  |  Tax Reliefs  |
    |    |  126  |  Political Themes  |  Euro-supporters  |
    |    |  128  |  Political Themes  |  Women's Rights & Gender Equality  |
    |    |  129  |  Political Themes  |  Corruption & Bureaucracy  |
    |  composite_realestatetrading  |  027  |  Real Estate Trading  |  First-time Buyers  |
    |    |  028  |  Real Estate Trading  |  Summerhouse  |
    |    |  029  |  Real Estate Trading  |  Apartment  |
    |    |  030  |  Real Estate Trading  |  House & Villa  |
    |    |  161  |  Real Estate Trading  |  House Owners  |
    |  composite_restaurants  |  037  |  Restaurants  |  Fastfood  |
    |    |  038  |  Restaurants  |  Restaurant  |
    |    |  039  |  Restaurants  |  Cafe & Bar  |
    |  composite_sport_events  |  159  |  Sport events  |  Sport Event Visitors  |
    |    |  160  |  Sport events  |  Sport Event Watchers  |
    |  composite_telecom  |  040  |  Telecommunication  |  Internet  |
    |    |  041  |  Telecommunication  |  Mobile Phone Subscription  |
    |    |  042  |  Telecommunication  |  Satellite TV  |
    |    |  043  |  Telecommunication  |  Streaming Services  |
    |  composite_travel  |  051  |  Travel & Vacation  |  Airplane Tickets  |
    |    |  052  |  Travel & Vacation  |  Business Travelers  |
    |    |  053  |  Travel & Vacation  |  Car Vacation  |
    |    |  054  |  Travel & Vacation  |  All Inclusive / Resorts  |
    |    |  055  |  Travel & Vacation  |  Adventure  |
    |    |  056  |  Travel & Vacation  |  Luxury  |
    |    |  057  |  Travel & Vacation  |  City Break  |
    |    |  058  |  Travel & Vacation  |  Hotels  |
    |  composite_winter  |  134  |  Christmas & Winter  |  Christmas Gifts - Young people | Over 100 €  |
    |    |  135  |  Christmas & Winter  |  Christmas Gifts - Young people | Under 100 €  |
    |    |  136  |  Christmas & Winter  |  Christmas Gifts | Families with children | Over 100 €  |
    |    |  137  |  Christmas & Winter  |  Christmas Gifts | Families with children | Under 100 €  |
    |    |  138  |  Christmas & Winter  |  Christmas Gifts | 50+ | Over 100 €  |
    |    |  139  |  Christmas & Winter  |  Christmas Gifts | 50+ | Under 100 €  |
    |    |  140  |  Christmas & Winter  |  Personal Gifts | Online Photo Books & Calendars  |
    |    |  141  |  Christmas & Winter  |  Winter Outerwear | Over 250 €  |
    |    |  142  |  Christmas & Winter  |  Winter Outerwear | Under 250 €  |
    |    |  143  |  Christmas & Winter  |  Winter Outerwear for Children  |
    |    |  144  |  Christmas & Winter  |  Winter Sports Clothing & Gear  |
    |    |  145  |  Christmas & Winter  |  Decoration | House & Garden  |
    |    |  146  |  Christmas & Winter  |  Decoration | Apartment & Balcony  |
    |    |  147  |  Christmas & Winter  |  Food and Wine | Online Supermarket w. Delivery  |
    |    |  148  |  Christmas & Winter  |  Food and Wine | Online Store  |
    |    |  149  |  Christmas & Winter  |  Fireplace & Wood Burning Stove  |
    |    |  151  |  Christmas & Winter  |  Winter to Summer Tire Change  |
    ### IAB audiences
    | Category code | Audience Code | Category name | Audience Name |
    |---------------|---------------|---------------|---------------|
    |  Age Range  |  IAB0003  |  Age Range  |  18-20  |
    |    |  IAB0004  |  Age Range  |  21-24  |
    |    |  IAB0005  |  Age Range  |  25-29  |
    |    |  IAB0006  |  Age Range  |  30-34  |
    |    |  IAB0007  |  Age Range  |  35-39  |
    |    |  IAB0008  |  Age Range  |  40-44  |
    |    |  IAB0009  |  Age Range  |  45-49  |
    |    |  IAB0010  |  Age Range  |  50-54  |
    |    |  IAB0011  |  Age Range  |  55-59  |
    |    |  IAB0012  |  Age Range  |  60-64  |
    |    |  IAB0013  |  Age Range  |  65-69  |
    |    |  IAB0014  |  Age Range  |  70-74  |
    |    |  IAB0015  |  Age Range  |  75+  |
    |  Automotive  |  IAB0244  |  Automotive  |  Auto Buying and Selling  |
    |    |  IAB0245  |  Automotive  |  Auto Shows  |
    |    |  IAB0246  |  Automotive  |  Auto Technology  |
    |    |  IAB0247  |  Automotive  |  Budget Cars  |
    |    |  IAB0249  |  Automotive  |  Classic Cars  |
    |    |  IAB0252  |  Automotive  |  Driverless Cars  |
    |    |  IAB0253  |  Automotive  |  Green Vehicles  |
    |    |  IAB0254  |  Automotive  |  Luxury Cars  |
    |    |  IAB0255  |  Automotive  |  Motorcycles  |
    |    |  IAB0256  |  Automotive  |  Performance Cars  |
    |    |  IAB0257  |  Automotive  |  Scooters  |
    |  Books and Literature  |  IAB0261  |  Books and Literature  |  Children's Literature  |
    |    |  IAB0266  |  Books and Literature  |  Travel Books  |
    |    |  IAB0267  |  Books and Literature  |  Young Adult Literature  |
    |  Business and Finance / Business  |  IAB0272  |  Business and Finance / Business  |  Large Business  |
    |    |  IAB0276  |  Business and Finance / Business  |  Small and Medium-sized Business  |
    |    |  IAB0277  |  Business and Finance / Business  |  Startups  |
    |  Business and Finance  |  IAB0269  |  Business and Finance  |  Business  |
    |  Careers  |  IAB0339  |  Careers  |  Apprenticeships  |
    |    |  IAB0342  |  Careers  |  Remote Working  |
    |  Technology & Computing / Computing  |  IAB0691  |  Technology & Computing / Computing  |  Internet  |
    |    |  IAB0696  |  Technology & Computing / Computing  |  Internet for Beginners  |
    |    |  IAB0697  |  Technology & Computing / Computing  |  Internet of Things  |
    |    |  IAB0700  |  Technology & Computing / Computing  |  Social Networking  |
    |  Education  |  IAB0345  |  Education  |  Adult Education  |
    |    |  IAB0346  |  Education  |  Language Learning  |
    |    |  IAB0347  |  Education  |  Online Education  |
    |  Education & Occupation / Education (Highest Level)  |  IAB0018  |  Education & Occupation / Education (Highest Level)  |  Primary Education  |
    |    |  IAB0019  |  Education & Occupation / Education (Highest Level)  |  Secondary Education  |
    |    |  IAB0020  |  Education & Occupation / Education (Highest Level)  |  College Education  |
    |    |  IAB0021  |  Education & Occupation / Education (Highest Level)  |  College Education / Professional School  |
    |    |  IAB0022  |  Education & Occupation / Education (Highest Level)  |  College Education / Postgraduate Education  |
    |    |  IAB0023  |  Education & Occupation / Education (Highest Level)  |  College Education / Undergraduate Education  |
    |  Education & Occupation / Employment Role  |  IAB0025  |  Education & Occupation / Employment Role  |  Work from Home  |
    |    |  IAB0026  |  Education & Occupation / Employment Role  |  Director/Managerial  |
    |    |  IAB0028  |  Education & Occupation / Employment Role  |  Office Worker  |
    |    |  IAB0032  |  Education & Occupation / Employment Role  |  Retired  |
    |    |  IAB0033  |  Education & Occupation / Employment Role  |  Self Employed  |
    |    |  IAB0035  |  Education & Occupation / Employment Role  |  Skilled/Manual Work  |
    |    |  IAB0036  |  Education & Occupation / Employment Role  |  Student  |
    |    |  IAB0040  |  Education & Occupation / Employment Role  |  Retired  |
    |    |  IAB0041  |  Education & Occupation / Employment Role  |  Student  |
    |  Family and Relationships  |  IAB0350  |  Family and Relationships  |  Parenting  |
    |  Healthy Living / Fitness and Exercise  |  IAB0409  |  Healthy Living / Fitness and Exercise  |  Participant Sports  |
    |    |  IAB0410  |  Healthy Living / Fitness and Exercise  |  Running and Jogging  |
    |  Food & Drink  |  IAB0369  |  Food & Drink  |  Alcoholic Beverages  |
    |    |  IAB0370  |  Food & Drink  |  Barbecues and Grilling  |
    |    |  IAB0373  |  Food & Drink  |  Dining Out  |
    |    |  IAB0376  |  Food & Drink  |  Healthy Cooking and Eating  |
    |    |  IAB0377  |  Food & Drink  |  Non-Alcoholic Beverages  |
    |    |  IAB0378  |  Food & Drink  |  Vegan Diets  |
    |    |  IAB0379  |  Food & Drink  |  Vegetarian Diets  |
    |    |  IAB0380  |  Food & Drink  |  World Cuisines  |
    |  Health and Medical Services / Health & Pharma  |  IAB0383  |  Health and Medical Services / Health & Pharma  |  Medical Services  |
    |    |  IAB0385  |  Health and Medical Services / Health & Pharma  |  Medical Services / Health Services  |
    |    |  IAB0386  |  Health and Medical Services / Health & Pharma  |  Medical Services / Health Care and Physicians  |
    |    |  IAB0387  |  Health and Medical Services / Health & Pharma  |  Medical Services / Alternative and Natural Medicine  |
    |    |  IAB0388  |  Health and Medical Services / Health & Pharma  |  Medical Services / Cosmetic Medical Services  |
    |    |  IAB0389  |  Health and Medical Services / Health & Pharma  |  Medical Services / Drugstores and Pharmacies  |
    |    |  IAB0390  |  Health and Medical Services / Health & Pharma  |  Medical Services / Elder Care  |
    |    |  IAB0391  |  Health and Medical Services / Health & Pharma  |  Medical Services / Vision Care  |
    |    |  IAB0392  |  Health and Medical Services / Health & Pharma  |  Medical Services / Dental Care  |
    |    |  IAB0398  |  Health and Medical Services / Health & Pharma  |  Medical Services / Skin Care Treatments  |
    |    |  IAB0399  |  Health and Medical Services / Health & Pharma  |  Medical Services / Smoking Cessation  |
    |    |  IAB0401  |  Health and Medical Services / Health & Pharma  |  Medical Services / Hair Loss Treatments  |
    |    |  IAB0404  |  Health and Medical Services / Health & Pharma  |  Medical Services / Vaccines  |
    |  Health and Medical Services  |  IAB0382  |  Health and Medical Services  |  Health & Pharma  |
    |  Healthy Living  |  IAB0407  |  Healthy Living  |  Children's Health  |
    |    |  IAB0408  |  Healthy Living  |  Fitness and Exercise  |
    |    |  IAB0412  |  Healthy Living  |  Nutrition  |
    |    |  IAB0413  |  Healthy Living  |  Senior Health  |
    |    |  IAB0414  |  Healthy Living  |  Weight Loss  |
    |    |  IAB0415  |  Healthy Living  |  Wellness  |
    |    |  IAB0417  |  Healthy Living  |  Alternative Medicine / Herbs and Supplements  |
    |    |  IAB0419  |  Healthy Living  |  Physical Therapy  |
    |    |  IAB0420  |  Healthy Living  |  Smoking Cessation  |
    |  Home & Garden  |  IAB0458  |  Home & Garden  |  Gardening  |
    |    |  IAB0459  |  Home & Garden  |  Home Entertaining  |
    |    |  IAB0460  |  Home & Garden  |  Home Improvement  |
    |    |  IAB0461  |  Home & Garden  |  Interior Decorating  |
    |    |  IAB0462  |  Home & Garden  |  Landscaping  |
    |    |  IAB0463  |  Home & Garden  |  Outdoor Decorating  |
    |    |  IAB0464  |  Home & Garden  |  Remodeling & Construction  |
    |    |  IAB0465  |  Home & Garden  |  Smart Home  |
    |  Household Data / Household Income (USD)  |  IAB0061  |  Household Data / Household Income (USD)  |  Less than $10,000  |
    |    |  IAB0062  |  Household Data / Household Income (USD)  |  $10,000-$14,999  |
    |    |  IAB0063  |  Household Data / Household Income (USD)  |  $15,000-$19,999  |
    |    |  IAB0064  |  Household Data / Household Income (USD)  |  $20000 - $39999  |
    |    |  IAB0065  |  Household Data / Household Income (USD)  |  $40000 - $49999  |
    |    |  IAB0066  |  Household Data / Household Income (USD)  |  $50000 - $74999  |
    |    |  IAB0067  |  Household Data / Household Income (USD)  |  $75000 - $99999  |
    |    |  IAB0068  |  Household Data / Household Income (USD)  |  $100000 - $149999  |
    |    |  IAB0069  |  Household Data / Household Income (USD)  |  $150,000-$174,999  |
    |    |  IAB0070  |  Household Data / Household Income (USD)  |  $175,000-$199,999  |
    |    |  IAB0071  |  Household Data / Household Income (USD)  |  $200,000-$249,999  |
    |    |  IAB0072  |  Household Data / Household Income (USD)  |  $250,000+  |
    |  Personal Finance / Income (USD)  |  IAB0165  |  Personal Finance / Income (USD)  |  $10,000-$14,999  |
    |    |  IAB0166  |  Personal Finance / Income (USD)  |  $15,000-$19,999  |
    |    |  IAB0167  |  Personal Finance / Income (USD)  |  $20000 - $39999  |
    |    |  IAB0168  |  Personal Finance / Income (USD)  |  $40000 - $49999  |
    |    |  IAB0169  |  Personal Finance / Income (USD)  |  $50000 - $74999  |
    |    |  IAB0170  |  Personal Finance / Income (USD)  |  $75000 - $99999  |
    |    |  IAB0171  |  Personal Finance / Income (USD)  |  $100000 - $149999  |
    |    |  IAB0172  |  Personal Finance / Income (USD)  |  $150,000-$174,999  |
    |    |  IAB0173  |  Personal Finance / Income (USD)  |  $175,000-$199,999  |
    |    |  IAB0174  |  Personal Finance / Income (USD)  |  $200,000-$249,999  |
    |    |  IAB0175  |  Personal Finance / Income (USD)  |  $250,000+  |
    |  Interest  |  IAB0207  |  Interest  |  Academic Interests  |
    |    |  IAB0243  |  Interest  |  Automotive  |
    |    |  IAB0258  |  Interest  |  Books and Literature  |
    |    |  IAB0359  |  Interest  |  Fine Art  |
    |    |  IAB0406  |  Interest  |  Healthy Living  |
    |    |  IAB0457  |  Interest  |  Home & Garden  |
    |  Household Data / Length of Residence  |  IAB0074  |  Household Data / Length of Residence  |  Less Than 1 Year  |
    |    |  IAB0075  |  Household Data / Length of Residence  |  1-3 Years  |
    |    |  IAB0079  |  Household Data / Length of Residence  |  4-6 Years  |
    |    |  IAB0083  |  Household Data / Length of Residence  |  7+ Years  |
    |  Household Data / Life Stage  |  IAB0096  |  Household Data / Life Stage  |  Single Generation Household / Adults (no children)  |
    |    |  IAB0098  |  Household Data / Life Stage  |  Multi Generation Household / Parents with Children  |
    |    |  IAB0099  |  Household Data / Life Stage  |  Multi Generation Household / Grandparents, Parents and Children  |
    |    |  IAB0100  |  Household Data / Life Stage  |  Multi Generation Household / Grandparents with Children  |
    |    |  IAB0101  |  Household Data / Life Stage  |  Multi Generation Household / Empty Nest (Adults, Children left home)  |
    |  Marital Status  |  IAB0161  |  Marital Status  |  Married  |
    |    |  IAB0162  |  Marital Status  |  Single  |
    |  Household Data / Median Home Value (USD)  |  IAB0103  |  Household Data / Median Home Value (USD)  |  $0-$99,999  |
    |    |  IAB0104  |  Household Data / Median Home Value (USD)  |  $100,000-$199,999  |
    |    |  IAB0105  |  Household Data / Median Home Value (USD)  |  $200,000-$299,999  |
    |    |  IAB0106  |  Household Data / Median Home Value (USD)  |  $300,000-$399,999  |
    |    |  IAB0107  |  Household Data / Median Home Value (USD)  |  $400,000-$499,999  |
    |    |  IAB0108  |  Household Data / Median Home Value (USD)  |  $500,000-$599,999  |
    |    |  IAB0109  |  Household Data / Median Home Value (USD)  |  $600,000-$699,999  |
    |    |  IAB0110  |  Household Data / Median Home Value (USD)  |  $700,000-$799,999  |
    |    |  IAB0111  |  Household Data / Median Home Value (USD)  |  $800,000-$899,999  |
    |    |  IAB0112  |  Household Data / Median Home Value (USD)  |  $900,000-$999,999  |
    |    |  IAB0113  |  Household Data / Median Home Value (USD)  |  $1,000,000+  |
    |  Household Data / Monthly Housing Payment (USD)  |  IAB0116  |  Household Data / Monthly Housing Payment (USD)  |  $1-$499  |
    |    |  IAB0117  |  Household Data / Monthly Housing Payment (USD)  |  $500-$999  |
    |    |  IAB0118  |  Household Data / Monthly Housing Payment (USD)  |  $1,000-$1,499  |
    |    |  IAB0119  |  Household Data / Monthly Housing Payment (USD)  |  $1,500-$1,999  |
    |    |  IAB0120  |  Household Data / Monthly Housing Payment (USD)  |  $2,000-$3,000  |
    |  Movies  |  IAB0468  |  Movies  |  Action and Adventure Movies  |
    |    |  IAB0469  |  Movies  |  Animation Movies  |
    |    |  IAB0470  |  Movies  |  Comedy Movies  |
    |    |  IAB0471  |  Movies  |  Crime and Mystery Movies  |
    |    |  IAB0472  |  Movies  |  Documentary Movies  |
    |    |  IAB0473  |  Movies  |  Drama Movies  |
    |    |  IAB0474  |  Movies  |  Family and Children Movies  |
    |    |  IAB0475  |  Movies  |  Fantasy Movies  |
    |    |  IAB0476  |  Movies  |  Horror Movies  |
    |    |  IAB0477  |  Movies  |  Indie and Arthouse Movies  |
    |    |  IAB0478  |  Movies  |  Romance Movies  |
    |    |  IAB0479  |  Movies  |  Science Fiction Movies  |
    |    |  IAB0480  |  Movies  |  World Movies  |
    |  Music and Audio  |  IAB0487  |  Music and Audio  |  Blues  |
    |    |  IAB0488  |  Music and Audio  |  Children's Music  |
    |    |  IAB0492  |  Music and Audio  |  Comedy (Music and Audio)  |
    |    |  IAB0497  |  Music and Audio  |  Hip Hop Music  |
    |    |  IAB0499  |  Music and Audio  |  Jazz  |
    |    |  IAB0504  |  Music and Audio  |  Rock Music  |
    |  News and Politics  |  IAB0523  |  News and Politics  |  Crime  |
    |    |  IAB0525  |  News and Politics  |  International News  |
    |    |  IAB0526  |  News and Politics  |  Law  |
    |    |  IAB0527  |  News and Politics  |  Local News  |
    |  Household Data / Number of Adults  |  IAB0122  |  Household Data / Number of Adults  |  1 Adult  |
    |    |  IAB0123  |  Household Data / Number of Adults  |  2 Adults  |
    |    |  IAB0124  |  Household Data / Number of Adults  |  3+ Adults  |
    |  Household Data / Number of Children  |  IAB0126  |  Household Data / Number of Children  |  0 Child  |
    |    |  IAB0127  |  Household Data / Number of Children  |  1 Child  |
    |    |  IAB0128  |  Household Data / Number of Children  |  2 Child  |
    |    |  IAB0129  |  Household Data / Number of Children  |  3+ Child  |
    |  Household Data / Number of Individuals  |  IAB0131  |  Household Data / Number of Individuals  |  1 person  |
    |    |  IAB0132  |  Household Data / Number of Individuals  |  2 people  |
    |    |  IAB0133  |  Household Data / Number of Individuals  |  3 people  |
    |    |  IAB0134  |  Household Data / Number of Individuals  |  4 people  |
    |    |  IAB0135  |  Household Data / Number of Individuals  |  5 people  |
    |    |  IAB0136  |  Household Data / Number of Individuals  |  6+ People  |
    |  Household Data / Ownership  |  IAB0138  |  Household Data / Ownership  |  Home Owners  |
    |    |  IAB0139  |  Household Data / Ownership  |  Renters  |
    |    |  IAB0140  |  Household Data / Ownership  |  Owner  |
    |    |  IAB0141  |  Household Data / Ownership  |  Renter  |
    |    |  IAB0142  |  Household Data / Ownership  |  First Time Homeowner  |
    |  Family and Relationships / Parenting  |  IAB0352  |  Family and Relationships / Parenting  |  Daycare and Pre-School  |
    |    |  IAB0353  |  Family and Relationships / Parenting  |  Internet Safety  |
    |    |  IAB0354  |  Family and Relationships / Parenting  |  Parenting Babies and Toddlers  |
    |    |  IAB0355  |  Family and Relationships / Parenting  |  Parenting Children Aged 4-11  |
    |    |  IAB0356  |  Family and Relationships / Parenting  |  Parenting Teens  |
    |  Personal Finance  |  IAB0535  |  Personal Finance  |  Frugal Living  |
    |    |  IAB0536  |  Personal Finance  |  Insurance  |
    |    |  IAB0537  |  Personal Finance  |  Personal Debt  |
    |    |  IAB0538  |  Personal Finance  |  Personal Investing  |
    |    |  IAB0539  |  Personal Finance  |  Personal Taxes  |
    |    |  IAB0540  |  Personal Finance  |  Retirement Planning  |
    |  Personal Finance / Personal Level Affluence (USD)  |  IAB0177  |  Personal Finance / Personal Level Affluence (USD)  |  Less than $10,000  |
    |    |  IAB0178  |  Personal Finance / Personal Level Affluence (USD)  |  $10,000-$14,999  |
    |    |  IAB0179  |  Personal Finance / Personal Level Affluence (USD)  |  $15,000-$19,999  |
    |    |  IAB0180  |  Personal Finance / Personal Level Affluence (USD)  |  $20000 - $39999  |
    |    |  IAB0181  |  Personal Finance / Personal Level Affluence (USD)  |  $40000 - $49999  |
    |    |  IAB0182  |  Personal Finance / Personal Level Affluence (USD)  |  $50000 - $74999  |
    |    |  IAB0183  |  Personal Finance / Personal Level Affluence (USD)  |  $75000 - $99999  |
    |    |  IAB0184  |  Personal Finance / Personal Level Affluence (USD)  |  $100000 - $149999  |
    |    |  IAB0185  |  Personal Finance / Personal Level Affluence (USD)  |  $150,000-$174,999  |
    |    |  IAB0186  |  Personal Finance / Personal Level Affluence (USD)  |  $175,000-$199,999  |
    |    |  IAB0187  |  Personal Finance / Personal Level Affluence (USD)  |  $200,000-$249,999  |
    |    |  IAB0188  |  Personal Finance / Personal Level Affluence (USD)  |  $250,000-$500,000  |
    |    |  IAB0189  |  Personal Finance / Personal Level Affluence (USD)  |  $500,000-$1,000,000  |
    |    |  IAB0190  |  Personal Finance / Personal Level Affluence (USD)  |  $1,000,000+  |
    |  Personal Finance / Personal Level Affluence Band  |  IAB0192  |  Personal Finance / Personal Level Affluence Band  |  Negative Net Worth  |
    |    |  IAB0193  |  Personal Finance / Personal Level Affluence Band  |  Very Low Net Worth  |
    |    |  IAB0194  |  Personal Finance / Personal Level Affluence Band  |  Low Net Worth  |
    |    |  IAB0195  |  Personal Finance / Personal Level Affluence Band  |  Mid Net Worth  |
    |    |  IAB0196  |  Personal Finance / Personal Level Affluence Band  |  High Net Worth  |
    |    |  IAB0197  |  Personal Finance / Personal Level Affluence Band  |  Super High Net Worth  |
    |  Pets  |  IAB0542  |  Pets  |  Birds  |
    |    |  IAB0543  |  Pets  |  Cats  |
    |    |  IAB0544  |  Pets  |  Dogs  |
    |    |  IAB0545  |  Pets  |  Fish and Aquariums  |
    |    |  IAB0546  |  Pets  |  Horses and Equine  |
    |    |  IAB0547  |  Pets  |  Large Animals  |
    |    |  IAB0549  |  Pets  |  Reptiles  |
    |  Pharmaceuticals, Conditions, and Symptoms  |  IAB0550  |  Pharmaceuticals, Conditions, and Symptoms  |  Pharmaceuticals, Conditions, and Symptoms  |
    |    |  IAB0551  |  Pharmaceuticals, Conditions, and Symptoms  |  Health & Pharma  |
    |  Pop Culture  |  IAB0582  |  Pop Culture  |  Humor and Satire  |
    |  Household Data / Property Type  |  IAB0144  |  Household Data / Property Type  |  Multiple Family  |
    |    |  IAB0145  |  Household Data / Property Type  |  Single Family  |
    |  Real Estate  |  IAB0584  |  Real Estate  |  Apartments  |
    |    |  IAB0587  |  Real Estate  |  Houses  |
    |    |  IAB0589  |  Real Estate  |  Land and Farms  |
    |    |  IAB0590  |  Real Estate  |  Office Property  |
    |    |  IAB0591  |  Real Estate  |  Real Estate Buying and Selling  |
    |    |  IAB0592  |  Real Estate  |  Real Estate Renting and Leasing  |
    |    |  IAB0594  |  Real Estate  |  Vacation Properties  |
    |  Shopping  |  IAB0606  |  Shopping  |  Shopping  |
    |  Style & Fashion  |  IAB0679  |  Style & Fashion  |  Children's Clothing  |
    |    |  IAB0680  |  Style & Fashion  |  Designer Clothing  |
    |    |  IAB0682  |  Style & Fashion  |  High Fashion  |
    |  Music and Audio / Talk Radio  |  IAB0514  |  Music and Audio / Talk Radio  |  Business News Radio  |
    |  Technology & Computing  |  IAB0688  |  Technology & Computing  |  Artificial Intelligence  |
    |    |  IAB0703  |  Technology & Computing  |  Consumer Electronics  |
    |  Television  |  IAB0707  |  Television  |  Animation TV  |
    |    |  IAB0708  |  Television  |  Children's TV  |
    |    |  IAB0709  |  Television  |  Comedy TV  |
    |    |  IAB0710  |  Television  |  Drama TV  |
    |    |  IAB0711  |  Television  |  Factual TV  |
    |    |  IAB0712  |  Television  |  Holiday TV  |
    |    |  IAB0713  |  Television  |  Music TV  |
    |    |  IAB0714  |  Television  |  Reality TV  |
    |    |  IAB0715  |  Television  |  Science Fiction TV  |
    |    |  IAB0716  |  Television  |  Soap Opera TV  |
    |    |  IAB0717  |  Television  |  Special Interest TV  |
    |    |  IAB0718  |  Television  |  Sports TV  |
    |  Travel  |  IAB0720  |  Travel  |  Adventure Travel  |
    |    |  IAB0725  |  Travel  |  Camping  |
    |    |  IAB0726  |  Travel  |  Day Trips  |
    |    |  IAB0728  |  Travel  |  Family Travel  |
    |    |  IAB0731  |  Travel  |  Road Trips  |
    |  Household Data / Urbanization  |  IAB0147  |  Household Data / Urbanization  |  Rural  |
    |    |  IAB0148  |  Household Data / Urbanization  |  2K-4.9K People  |
    |    |  IAB0149  |  Household Data / Urbanization  |  5K-9.9K People  |
    |    |  IAB0150  |  Household Data / Urbanization  |  10K-19.9K People  |
    |    |  IAB0151  |  Household Data / Urbanization  |  20K-49.9K People  |
    |    |  IAB0152  |  Household Data / Urbanization  |  50K-99.9K People  |
    |    |  IAB0153  |  Household Data / Urbanization  |  100K-199.9K People  |
    |    |  IAB0154  |  Household Data / Urbanization  |  200K-2M People  |
    |    |  IAB0155  |  Household Data / Urbanization  |  Over 2M+ People  |
    |  Video Gaming  |  IAB0734  |  Video Gaming  |  Console Games  |
    |    |  IAB0735  |  Video Gaming  |  eSports  |
    |    |  IAB0736  |  Video Gaming  |  Mobile Games  |
    |    |  IAB0737  |  Video Gaming  |  PC Games  |
    |  Healthy Living / Wellness  |  IAB0416  |  Healthy Living / Wellness  |  Alternative Medicine  |
  name: taxonomy
  x-displayName: Taxonomy
paths:
  /accounts:
    post:
      operationId: createAccount
      requestBody:
        $ref: '#/components/requestBodies/AccountCreationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAccount_201_response'
          description: OK
        "400":
          description: Bad request
        "403":
          description: Forbidden
      summary: Create account
      tags:
      - accounts
  /accounts/{account_id}:
    get:
      operationId: getAccountById
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional parameter used to define aux properties to load in the
          response
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            $ref: '#/components/schemas/AccountIncludeParam'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAccount_201_response'
          description: OK
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Get account
      tags:
      - accounts
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/accounts/$ACCOUNT_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/accounts/\"+account_id, {\n  \"method\"\
          : \"GET\", \n  \"headers\": {\"Authorization\": \"Bearer \" + token},\n\
          }).then(response => {\n  console.log(response);\n})"
    put:
      operationId: updateAccountById
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AccountUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAccount_201_response'
          description: OK
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Update account
      tags:
      - accounts
  /accounts/{account_id}/assets/logo:
    delete:
      description: |
        Deletes the logo for an account
      operationId: deleteAccountLogo
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Object deleted
      summary: Delete account logo
      tags:
      - accounts
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X DELETE \
          https://api.digiseg.net/accounts/$ACCOUNT_ID/assets/logo
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/accounts/\"+account_id+\"/assets/logo\"\
          , {\n  \"method\": \"DELETE\", \n  \"headers\": {\"Authorization\": \"Bearer\
          \ \" + token},\n}).then(response => {\n  console.log(response);\n})"
    get:
      description: |
        Gets the account logo, if the image is hosted on the Digiseg platform.
        Refer to the account's `logo_url` to get a non-authenticated and shareable URL for the logo.
      operationId: getAccountLogo
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "404":
          description: Not found
      summary: Get account logo
      tags:
      - accounts
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/accounts/$ACCOUNT_ID/assets/logo
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/accounts/\"+account_id+\"/assets/logo\"\
          , {\n  \"method\": \"GET\", \n  \"headers\": {\"Authorization\": \"Bearer\
          \ \" + token},\n}).then(response => {\n  console.log(response);\n})"
    put:
      description: |
        Upload a logo for an account
      operationId: uploadAccountLogo
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ImageUploadRequest'
      responses:
        "204":
          description: OK
      summary: Upload account logo
      tags:
      - accounts
  /accounts/{account_id}/subscriptions:
    get:
      description: Get a summary of subscriptions for an account
      operationId: getAccountSubscriptions
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccountSubscriptions_200_response'
          description: OK
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Get account subscriptions summary
      tags:
      - accounts
      - subscriptions
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/accounts/$ACCOUNT_ID/subscriptions
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/accounts/\"+account_id+\"/subscriptions\"\
          , {\n  \"method\": \"GET\", \n  \"headers\": {\"Authorization\": \"Bearer\
          \ \" + token},\n}).then(response => {\n  console.log(response);\n})"
  /accounts/{account_id}/subscriptions/{subscription_id}:
    get:
      description: Gets a specific subscription for an account
      operationId: getAccountSubscriptionById
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: subscription_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAccountSubscriptionById_200_response'
          description: OK
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Get account subscription
      tags:
      - accounts
      - subscriptions
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/accounts/$ACCOUNT_ID/subscriptions/$SUBSCRIPTION_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/accounts/\"+account_id+\"/subscriptions/\"\
          +subscription_id, {\n  \"method\": \"GET\", \n  \"headers\": {\"Authorization\"\
          : \"Bearer \" + token},\n}).then(response => {\n  console.log(response);\n\
          })"
  /accounts/{account_id}/users:
    get:
      operationId: listUsersByAccountId
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      - description: "Filter based on platform roles, e.g. super_admin"
        explode: true
        in: query
        name: "filter[platform_roles]"
        required: false
        schema:
          $ref: '#/components/schemas/UserPlatformRole'
        style: form
      - description: "Filter based on account roles, e.g. `owner`"
        explode: true
        in: query
        name: "filter[account_roles]"
        required: false
        schema:
          $ref: '#/components/schemas/UserAccountRole'
        style: form
      - description: Optional parameter used to search for users where the name contains
          a substring (case insensitive)
        example: Doe
        explode: true
        in: query
        name: "filter[name][contains]"
        required: false
        schema:
          type: string
        style: form
      - description: |
          Defines the field to sort the result items by.
          Ascending order is applied by default, but the minus character
          can be used to indicate descending order instead.
        example: -created_at
        explode: true
        in: query
        name: sort
        required: false
        schema:
          $ref: '#/components/schemas/UserSortOption'
        style: form
      - description: The desired page size
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: |
          Optional pagination parameter, indicating the previous cursor value to paginate beyond.
          The value to provide here is opaque, but can be found in previous requests in the `meta.page.last_cursor` field.
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listUsersByAccountId_200_response'
          description: OK
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: List users for account
      tags:
      - accounts
      - users
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/accounts/$ACCOUNT_ID/users
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/accounts/\"+account_id+\"/users\"\
          , {\n  \"method\": \"GET\", \n  \"headers\": {\"Authorization\": \"Bearer\
          \ \" + token},\n}).then(response => {\n  console.log(response);\n})"
    post:
      description: |
        Adds a user to the referenced account.
      operationId: addUserToAccount
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/AccountUserAdditionRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addUserToAccount_201_response'
          description: OK
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Add user to account
      tags:
      - accounts
      - users
  /accounts/{account_id}/users/{user_id}:
    delete:
      description: |
        Removes a user from the referenced account.
      operationId: removeUserFromAccount
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Object deleted
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Remove user from account
      tags:
      - accounts
      - users
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X DELETE \
          https://api.digiseg.net/accounts/$ACCOUNT_ID/users/$USER_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/accounts/\"+account_id+\"/users/\"\
          +user_id, {\n  \"method\": \"DELETE\", \n  \"headers\": {\"Authorization\"\
          : \"Bearer \" + token},\n}).then(response => {\n  console.log(response);\n\
          })"
    get:
      operationId: getUserAccountMembership
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUserAccountMembership_200_response'
          description: OK
        "404":
          description: Not found
      summary: Get a user's membership with an account
      tags:
      - accounts
      - users
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/accounts/$ACCOUNT_ID/users/$USER_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/accounts/\"+account_id+\"/users/\"\
          +user_id, {\n  \"method\": \"GET\", \n  \"headers\": {\"Authorization\"\
          : \"Bearer \" + token},\n}).then(response => {\n  console.log(response);\n\
          })"
    put:
      operationId: updateUserAccountMembership
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UserAccountMembershipUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getUserAccountMembership_200_response'
          description: OK
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Update a user's membership with an account
      tags:
      - accounts
      - users
  /accounts/{account_id}/apikeys:
    get:
      operationId: listApiKeysByAccountId
      parameters:
      - explode: false
        in: path
        name: account_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listApiKeysByAccountId_200_response'
          description: OK
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: List API keys for account
      tags:
      - accounts
      - auth
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/accounts/$ACCOUNT_ID/apikeys
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/accounts/\"+account_id+\"/apikeys\"\
          , {\n  \"method\": \"GET\", \n  \"headers\": {\"Authorization\": \"Bearer\
          \ \" + token},\n}).then(response => {\n  console.log(response);\n})"
  /subscription_offers:
    get:
      operationId: listSubscriptionOffers
      parameters:
      - description: Optional parameter used to filter on the account ID
        explode: true
        in: query
        name: "filter[account_id]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listSubscriptionOffers_200_response'
          description: OK
      summary: List subscription offers
      tags:
      - subscriptions
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/subscription_offers
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/subscription_offers\", {\n  \"method\"\
          : \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response =>\
          \ {\n  console.log(response);\n})"
  /subscription_plans:
    get:
      operationId: listSubscriptionPlans
      parameters:
      - description: The desired page size
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: |
          Optional pagination parameter, indicating the previous cursor value to paginate beyond.
          The value to provide here is opaque, but can be found in previous requests in the `meta.page.last_cursor` field.
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          type: string
        style: form
      - description: Optional parameter used to filter on the `is_public` field
        explode: true
        in: query
        name: "filter[is_public]"
        required: false
        schema:
          type: boolean
        style: form
      - description: Optional parameter used to filter on the `product_type` field
        explode: true
        in: query
        name: "filter[product_type]"
        required: false
        schema:
          $ref: '#/components/schemas/SubscriptionProductType'
        style: form
      - description: Optional parameter used to filter on the list price's currency
        explode: true
        in: query
        name: "filter[list_price.currency]"
        required: false
        schema:
          $ref: '#/components/schemas/SubscriptionPriceCurrency'
        style: form
      - description: Optional parameter used to filter on the list price's interval
        explode: true
        in: query
        name: "filter[list_price.interval]"
        required: false
        schema:
          $ref: '#/components/schemas/SubscriptionPriceInterval'
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listSubscriptionPlans_200_response'
          description: OK
      summary: List subscription plans
      tags:
      - subscriptions
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/subscription_plans
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/subscription_plans\", {\n  \"method\"\
          : \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response =>\
          \ {\n  console.log(response);\n})"
  /users/{user_id}/apikeys:
    get:
      operationId: listApiKeysByUserId
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Filter by specific account id
        explode: true
        in: query
        name: "filter[account_id]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listApiKeysByAccountId_200_response'
          description: OK
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: List API keys for user
      tags:
      - users
      - auth
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/users/$USER_ID/apikeys
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/users/\"+user_id+\"/apikeys\", {\n\
          \  \"method\": \"GET\", \n  \"headers\": {\"Authorization\": \"Bearer \"\
          \ + token},\n}).then(response => {\n  console.log(response);\n})"
    post:
      description: |
        Create API key for the given user.
        When an API key is created, the `token` value will be exposed
        in the response. This token can be passed as the `X-API-KEY`
        header value for future requests. It is not obtainable in other
        API requests (ie. the client must decide how to keep the API key
        token in e.g. a vault or similar).
      operationId: createApiKey
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ApiKeyCreationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createApiKey_201_response'
          description: OK
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Create API key
      tags:
      - users
      - auth
  /users/{user_id}/apikeys/{key_id}:
    delete:
      operationId: deleteApiKeyById
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: key_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Object deleted
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Delete API key
      tags:
      - users
      - auth
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X DELETE \
          https://api.digiseg.net/users/$USER_ID/apikeys/$KEY_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/users/\"+user_id+\"/apikeys/\"+key_id,\
          \ {\n  \"method\": \"DELETE\", \n  \"headers\": {\"Authorization\": \"Bearer\
          \ \" + token},\n}).then(response => {\n  console.log(response);\n})"
    get:
      operationId: getApiKeyById
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: key_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getApiKeyById_200_response'
          description: OK
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Get API key
      tags:
      - users
      - auth
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/users/$USER_ID/apikeys/$KEY_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/users/\"+user_id+\"/apikeys/\"+key_id,\
          \ {\n  \"method\": \"GET\", \n  \"headers\": {\"Authorization\": \"Bearer\
          \ \" + token},\n}).then(response => {\n  console.log(response);\n})"
    put:
      operationId: updateApiKeyById
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: key_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ApiKeyUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getApiKeyById_200_response'
          description: OK
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Update API key
      tags:
      - users
      - auth
  /user:
    get:
      description: Get information about the currently authenticated user
      operationId: getCurrentUser
      parameters:
      - description: Optional parameter used to define aux properties to load in the
          response
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UserIncludeParam'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addUserToAccount_201_response'
          description: OK
        "403":
          description: Forbidden
      summary: Get current user
      tags:
      - users
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/user
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/user\", {\n  \"method\": \"GET\"\
          , \n  \"headers\": {\"Authorization\": \"Bearer \" + token},\n}).then(response\
          \ => {\n  console.log(response);\n})"
  /users/{user_id}:
    delete:
      operationId: deleteUserById
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Object deleted
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Delete user
      tags:
      - users
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X DELETE \
          https://api.digiseg.net/users/$USER_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/users/\"+user_id, {\n  \"method\"\
          : \"DELETE\", \n  \"headers\": {\"Authorization\": \"Bearer \" + token},\n\
          }).then(response => {\n  console.log(response);\n})"
    get:
      operationId: getUserById
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      - description: Optional parameter used to define aux properties to load in the
          response
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            $ref: '#/components/schemas/UserIncludeParam'
          type: array
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addUserToAccount_201_response'
          description: OK
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Get user
      tags:
      - users
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/users/$USER_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/users/\"+user_id, {\n  \"method\"\
          : \"GET\", \n  \"headers\": {\"Authorization\": \"Bearer \" + token},\n\
          }).then(response => {\n  console.log(response);\n})"
    put:
      operationId: updateUserById
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/UserUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/addUserToAccount_201_response'
          description: OK
        "400":
          description: Bad request
        "403":
          description: Forbidden
        "404":
          description: Not found
      summary: Update user
      tags:
      - users
  /users/{user_id}/assets/avatar:
    delete:
      description: |
        Deletes the avatar for a user
      operationId: deleteUserAvatar
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Object deleted
      summary: Delete user avatar
      tags:
      - users
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X DELETE \
          https://api.digiseg.net/users/$USER_ID/assets/avatar
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/users/\"+user_id+\"/assets/avatar\"\
          , {\n  \"method\": \"DELETE\", \n  \"headers\": {\"Authorization\": \"Bearer\
          \ \" + token},\n}).then(response => {\n  console.log(response);\n})"
    get:
      description: |
        Gets the user avatar, if the image is hosted on the Digiseg platform.
        Refer to the user's `avatar_url` to get a non-authenticated and shareable URL for the avatar.
      operationId: getUserAvatar
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "404":
          description: Not found
      summary: Get user avatar
      tags:
      - users
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "Authorization: Bearer $ACCESS_TOKEN" -X GET \
          https://api.digiseg.net/users/$USER_ID/assets/avatar
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/users/\"+user_id+\"/assets/avatar\"\
          , {\n  \"method\": \"GET\", \n  \"headers\": {\"Authorization\": \"Bearer\
          \ \" + token},\n}).then(response => {\n  console.log(response);\n})"
    put:
      description: |
        Upload a avatar for a user
      operationId: uploadUserAvatar
      parameters:
      - explode: false
        in: path
        name: user_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ImageUploadRequest'
      responses:
        "204":
          description: OK
      summary: Upload user avatar
      tags:
      - users
  /auth/token:
    post:
      operationId: createAccessToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthTokenRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AuthTokenRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthTokenResponse'
          description: OK
      security: []
      summary: Authenticate and create access token
      tags:
      - auth
  /audiences:
    get:
      operationId: resolveAudiencesOfClient
      parameters:
      - description: |
          Optional parameter used to specify which audience information to be returned.
          The value is comprised of comma-separated values, each indicating a set of
          audiences:

            * `core` represents the core audiences that are directly linked to household characteristics
            * `composite` represents the composite audiences, used to model likely behaviours or buying
              needs associated with the household characteristics.
            * `name` and `category` refer to the fields of the same names in the returned Audience
              objects. There is a slight performance gain in leaving these out when they are not needed.
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            $ref: '#/components/schemas/AudiencesIncludeParam'
          type: array
        style: form
      - description: Optional parameter to set to `jsonp` if a JSONP response format
          is needed.
        explode: true
        in: query
        name: type
        required: false
        schema:
          example: jsonp
          pattern: ^(jsonp)?$
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get audiences of the API client
      tags:
      - audiences
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/audiences
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/audiences\", {\n  \"method\": \"\
          GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response => {\n\
          \  console.log(response);\n})"
    post:
      operationId: resolveAudiencesOfMultiple
      parameters:
      - description: |
          Optional parameter used to specify which audience information to be returned.
          The value is comprised of comma-separated values, each indicating a set of
          audiences:

            * `core` represents the core audiences that are directly linked to household characteristics
            * `composite` represents the composite audiences, used to model likely behaviours or buying
              needs associated with the household characteristics.
            * `name` and `category` refer to the fields of the same names in the returned Audience
              objects. There is a slight performance gain in leaving these out when they are not needed.
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            $ref: '#/components/schemas/AudiencesIncludeParam'
          type: array
        style: form
      requestBody:
        $ref: '#/components/requestBodies/ResolveAudiencesOfMultipleRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolveAudiencesOfMultipleResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get audiences for multiple IP addresses
      tags:
      - audiences
  /audiences/{user_ip}:
    get:
      operationId: resolveAudiencesOfSingle
      parameters:
      - description: |
          Optional parameter used to specify which audience information to be returned.
          The value is comprised of comma-separated values, each indicating a set of
          audiences:

            * `core` represents the core audiences that are directly linked to household characteristics
            * `composite` represents the composite audiences, used to model likely behaviours or buying
              needs associated with the household characteristics.
            * `name` and `category` refer to the fields of the same names in the returned Audience
              objects. There is a slight performance gain in leaving these out when they are not needed.
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            $ref: '#/components/schemas/AudiencesIncludeParam'
          type: array
        style: form
      - description: The IP address to look up.
        example: 1.1.1.1
        explode: false
        in: path
        name: user_ip
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudienceResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Bad Request
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Internal Server Error
      summary: Get audiences for a given IP address
      tags:
      - audiences
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/audiences/$USER_IP
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/audiences/\"+user_ip, {\n  \"method\"\
          : \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response =>\
          \ {\n  console.log(response);\n})"
  /studies:
    get:
      description: |
        List studies that the user has access to
      operationId: listStudies
      parameters:
      - description: |
          Defines the field to sort the result items by.
          Ascending order is applied by default, but the minus character
          can be used to indicate descending order instead.
        example: -created_at
        explode: true
        in: query
        name: sort
        required: false
        schema:
          default: created_at
          enum:
          - created_at
          - -created_at
          - name
          - -name
          type: string
        style: form
      - description: Optional parameter used to filter studies by their life cycle
          stage
        explode: true
        in: query
        name: "filter[life_cycle_stage]"
        required: false
        schema:
          $ref: '#/components/schemas/StudyLifecycleStage'
        style: form
      - description: Optional parameter used to filter for example studies
        explode: true
        in: query
        name: "filter[is_example]"
        required: false
        schema:
          default: false
          type: boolean
        style: form
      - description: Optional parameter used to filter by study label
        example: CTV
        explode: true
        in: query
        name: "filter[label]"
        required: false
        schema:
          type: string
        style: form
      - description: Optional parameter used to search for studies where the name
          contains a substring (case insensitive)
        example: acme
        explode: true
        in: query
        name: "filter[name][contains]"
        required: false
        schema:
          type: string
        style: form
      - description: Optional parameter used to search for studies that have started
          after a specific date
        example: 2024-08-24T00:00:00Z
        explode: true
        in: query
        name: "filter[start_date][after]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Optional parameter used to search for studies that have start
          before a specific date
        example: 2024-08-24T00:00:00Z
        explode: true
        in: query
        name: "filter[start_date][before]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Optional parameter used to search for studies that have a specific
          end date
        example: 2024-11-04T00:00:00Z
        explode: true
        in: query
        name: "filter[end_date]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Optional parameter used to search for studies that have been
          created after a specific date
        example: 2024-11-03T12:00:00Z
        explode: true
        in: query
        name: "filter[created_at][after]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: Optional parameter used to search for studies that have been
          created before a specific date
        example: 2024-11-04T12:00:00Z
        explode: true
        in: query
        name: "filter[created_at][before]"
        required: false
        schema:
          format: date-time
          type: string
        style: form
      - description: |
          Optional parameter used to query studies by specific account IDs (only available to super admins).
          The value `*` is synonymous for "all accounts".
        examples:
          single:
            description: A specific account ID
            value: 4k3jKJ9D12kj0S4c
          multiple:
            description: Multiple accounts
            value: "4k3jKJ9D12kj0S4c,5k3jKJ9D12kj0S4c,6k3jKJ9D12kj0S4c"
          all:
            description: All accounts
            value: '*'
        explode: true
        in: query
        name: "filter[account_id]"
        required: false
        schema:
          default: The user's account ID
          type: string
        style: form
      - description: The desired page size
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: |
          Optional pagination parameter, indicating the previous cursor value to paginate beyond.
          The value to provide here is opaque, but can be found in previous requests in the `meta.page.last_cursor` field.
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listStudies_200_response'
          description: OK
      summary: List studies
      tags:
      - studies
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/studies
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/studies\", {\n  \"method\": \"GET\"\
          , \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response => {\n  console.log(response);\n\
          })"
    post:
      description: Create a new study
      operationId: createStudy
      requestBody:
        $ref: '#/components/requestBodies/StudyCreationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createStudy_201_response'
          description: OK
      summary: Create study
      tags:
      - studies
  /measurement/labels:
    get:
      description: |
        List measurement labels that the user has access to
      operationId: listMeasurementLabels
      parameters:
      - description: |
          Optional parameter used to query measurement labels by specific account IDs
          (only available to super admins).
          The value `*` is synonymous for "all accounts".
        examples:
          single:
            description: A specific account ID
            value: 4k3jKJ9D12kj0S4c
          all:
            description: All accounts
            value: '*'
        explode: true
        in: query
        name: "filter[account_id]"
        required: false
        schema:
          default: The user's account ID
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listMeasurementLabels_200_response'
          description: OK
      summary: List measurement labels
      tags:
      - measurement_labels
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/measurement/labels
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/measurement/labels\", {\n  \"method\"\
          : \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response =>\
          \ {\n  console.log(response);\n})"
  /measurement/clients:
    get:
      description: |
        List measurement clients that the user has access to
      operationId: listMeasurementClients
      parameters:
      - description: |
          Optional parameter used to query measurement clients by specific account IDs
          (only available to super admins).
          The value `*` is synonymous for "all accounts".
        examples:
          single:
            description: A specific account ID
            value: 4k3jKJ9D12kj0S4c
          all:
            description: All accounts
            value: '*'
        explode: true
        in: query
        name: "filter[account_id]"
        required: false
        schema:
          default: The user's account ID
          type: string
        style: form
      - description: Optional parameter used to search for clients where the name
          contains a substring (case insensitive)
        example: acme
        explode: true
        in: query
        name: "filter[name][contains]"
        required: false
        schema:
          type: string
        style: form
      - description: The desired page size
        explode: true
        in: query
        name: "page[size]"
        required: false
        schema:
          default: 100
          maximum: 500
          minimum: 1
          type: integer
        style: form
      - description: |
          Optional pagination parameter, indicating the previous cursor value to paginate beyond.
          The value to provide here is opaque, but can be found in previous requests in the `meta.page.last_cursor` field.
        explode: true
        in: query
        name: "page[after]"
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listMeasurementClients_200_response'
          description: OK
      summary: List measurement clients
      tags:
      - measurement_clients
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/measurement/clients
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/measurement/clients\", {\n  \"method\"\
          : \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response =>\
          \ {\n  console.log(response);\n})"
    post:
      description: |
        Create a measurement client in the account of the user
      operationId: createMeasurementClient
      requestBody:
        $ref: '#/components/requestBodies/MeasurementClientCreationRequest'
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createMeasurementClient_201_response'
          description: OK
      summary: Create measurement client
      tags:
      - measurement_clients
  /measurement/clients/{client_id}:
    delete:
      description: |
        Deletes a measurement client
      operationId: deleteMeasurementClientById
      parameters:
      - explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Object deleted
      summary: Delete measurement client
      tags:
      - measurement_clients
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X DELETE \
          https://api.digiseg.net/measurement/clients/$CLIENT_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/measurement/clients/\"+client_id,\
          \ {\n  \"method\": \"DELETE\", \n  \"headers\": {\"X-API-KEY\": apikey},\n\
          }).then(response => {\n  console.log(response);\n})"
    get:
      description: |
        Get information for a specific measurement client
      operationId: getMeasurementClientById
      parameters:
      - explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createMeasurementClient_201_response'
          description: OK
      summary: Get measurement client
      tags:
      - measurement_clients
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/measurement/clients/$CLIENT_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/measurement/clients/\"+client_id,\
          \ {\n  \"method\": \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n\
          }).then(response => {\n  console.log(response);\n})"
    put:
      description: |
        Updates properties of a measurement client
      operationId: updateMeasurementClientById
      parameters:
      - explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/MeasurementClientUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createMeasurementClient_201_response'
          description: OK
      summary: Update measurement client
      tags:
      - measurement_clients
  /measurement/clients/{client_id}/assets/logo:
    delete:
      description: |
        Deletes the logo for a client
      operationId: deleteClientLogo
      parameters:
      - explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Object deleted
      summary: Delete measurement client logo
      tags:
      - measurement_clients
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X DELETE \
          https://api.digiseg.net/measurement/clients/$CLIENT_ID/assets/logo
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/measurement/clients/\"+client_id+\"\
          /assets/logo\", {\n  \"method\": \"DELETE\", \n  \"headers\": {\"X-API-KEY\"\
          : apikey},\n}).then(response => {\n  console.log(response);\n})"
    get:
      description: |
        Gets the client logo, if the image is hosted on the Digiseg platform.
        Refer to the clients's `logo_url` to get a non-authenticated and shareable URL for the logo.
      operationId: getClientLogo
      parameters:
      - explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "404":
          description: Not found
      summary: Get measurement client logo
      tags:
      - measurement_clients
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/measurement/clients/$CLIENT_ID/assets/logo
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/measurement/clients/\"+client_id+\"\
          /assets/logo\", {\n  \"method\": \"GET\", \n  \"headers\": {\"X-API-KEY\"\
          : apikey},\n}).then(response => {\n  console.log(response);\n})"
    put:
      description: |
        Upload a logo for a client
      operationId: uploadClientLogo
      parameters:
      - explode: false
        in: path
        name: client_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ImageUploadRequest'
      responses:
        "204":
          description: OK
      summary: Upload measurement client logo
      tags:
      - measurement_clients
  /studies/{study_id}:
    delete:
      description: |
        Deletes a study
      operationId: deleteStudyById
      parameters:
      - explode: false
        in: path
        name: study_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Object deleted
      summary: Delete study
      tags:
      - studies
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X DELETE \
          https://api.digiseg.net/studies/$STUDY_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/studies/\"+study_id, {\n  \"method\"\
          : \"DELETE\", \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response\
          \ => {\n  console.log(response);\n})"
    get:
      description: |
        Get study information for a specific study
      operationId: getStudyById
      parameters:
      - explode: false
        in: path
        name: study_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createStudy_201_response'
          description: OK
      summary: Get study
      tags:
      - studies
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/studies/$STUDY_ID
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/studies/\"+study_id, {\n  \"method\"\
          : \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n}).then(response =>\
          \ {\n  console.log(response);\n})"
    put:
      description: |
        Updates properties of a study
      operationId: updateStudyById
      parameters:
      - explode: false
        in: path
        name: study_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/StudyUpdateRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createStudy_201_response'
          description: OK
      summary: Update study
      tags:
      - studies
  /studies/{study_id}/events:
    post:
      description: |
        Create an event (such as an impression or click) and ingest it into the study.
      operationId: createStudyEvent
      parameters:
      - explode: false
        in: path
        name: study_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/StudyEventCreationRequest'
      responses:
        "202":
          description: Event accepted
        "400":
          description: Bad/invalid request
        "404":
          description: Study not found
      summary: Create study event
      tags:
      - studies
  /studies/{study_id}/assets/banner_image:
    delete:
      description: |
        Deletes the banner image for a study
      operationId: deleteStudyBannerImage
      parameters:
      - explode: false
        in: path
        name: study_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: Object deleted
      summary: Delete study banner image logo
      tags:
      - studies
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X DELETE \
          https://api.digiseg.net/studies/$STUDY_ID/assets/banner_image
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/studies/\"+study_id+\"/assets/banner_image\"\
          , {\n  \"method\": \"DELETE\", \n  \"headers\": {\"X-API-KEY\": apikey},\n\
          }).then(response => {\n  console.log(response);\n})"
    get:
      description: |
        Gets the study banner image, if the image is hosted on the Digiseg platform.
        Refer to the study's `banner_image_url` to get a non-authenticated and shareable URL for the logo.
      operationId: getStudyBannerImage
      parameters:
      - explode: false
        in: path
        name: study_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: OK
        "404":
          description: Not found
      summary: Get study banner image
      tags:
      - studies
      x-codeSamples:
      - lang: Shell
        source: |-
          curl -H "X-API-KEY: $APIKEY" -X GET \
          https://api.digiseg.net/studies/$STUDY_ID/assets/banner_image
      - lang: JavaScript
        source: "fetch(\"https://api.digiseg.net/studies/\"+study_id+\"/assets/banner_image\"\
          , {\n  \"method\": \"GET\", \n  \"headers\": {\"X-API-KEY\": apikey},\n\
          }).then(response => {\n  console.log(response);\n})"
    put:
      description: |
        Upload a banner image for a study
      operationId: uploadStudyBannerImage
      parameters:
      - explode: false
        in: path
        name: study_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/ImageUploadRequest'
      responses:
        "204":
          description: OK
      summary: Upload study banner image
      tags:
      - studies
  /studies/{study_id}/stats/audiences:
    get:
      description: |
        Query the audience statistics for a study, enabling the user
        to see the representation of matched household characteristics
        to impressions and clicks. These statistics can be compared to
[...]
